In [1]:

from faker import Faker
from faker.providers.address.ru_RU import Provider
fake=Faker(['ru_RU'])
fake.add_provider(Provider)
import os
import random
import numpy as np
import datetime

import sqlite3
import pandas as pd

In [ ]:
fake = Faker('ru_RU')
fake.add_provider(Provider)
# задаем названиие таблицы
table_name = 'clients'
# задаем столбцы таблицы
column_names = ('id', 'date', 'address', 'price')
# задаем количество строк таблицы, которое хотим заполнить
k = 100
# генерация и запись DML-скрипта в файл
filename = f'{table_name}.sql' # формируем название выходного файла
with open(filename, 'w', encoding='utf-8') as f: #открытие файла для записи
    # формируем строку с названиями столбцов
    columns_str = ', '.join(f'"{column}"' for column in column_names)
    for i in range(k):
      # генерируем значения для каждого столбца
        # генерируем случайную дату в диапазоне
        start_date = datetime.date(2023, 1, 1)
        end_date = datetime.date(2023, 12, 31)
        random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))
        # преобразуем дату в строку в формате "год-месяц-день"
        #для строковых значений обязательно f"'{}'"
        date = f"'{random_date.strftime('%Y-%m-%d')}'"
        
        #генерируем случайное значение адреса
        address=f"'{fake.address()}'" 
        #генерируем для суммы денег за доставку случайное вещественное число от 0 до 1000 с двумя знаками после запятой  
        price=round(fake.pyfloat(right_digits=2, min_value=0, max_value=1000), 2) 
        
        # формируем список со значениями
        values = [i+1, date, address, price]
        # формируем строку со значениями
        values_str = ', '.join(str(value) for value in values)
        # формируем и записываем DML-запрос в файл
        insert_query = f'INSERT INTO "{table_name}" ({columns_str}) VALUES ({values_str});\n'
        print(insert_query) #вывод на консоль - для проверки и отладки
        f.write(insert_query) #запись в файл
    f.close() #закрытие файла
# Скачиваем файл на локальную машину

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (1, '2023-01-28', 'с. Чокурдах, ш. Кирова, д. 757 стр. 2, 398111', 116.84);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (2, '2023-08-23', 'г. Двинской, ул. Лазурная, д. 263 к. 6/5, 932882', 122.99);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (3, '2023-08-09', 'п. Старая Русса, пр. Белинского, д. 72 к. 188, 721656', 73.6);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (4, '2023-12-23', 'г. Корсаков, ш. Первомайское, д. 7, 345743', 304.2);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (5, '2023-07-07', 'п. Гатчина, пр. Рябиновый, д. 41 стр. 4, 488793', 736.0);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (6, '2023-04-07', 'к. Щельяюр, наб. Высоцкого, д. 9/1 стр. 5/2, 551234', 271.0);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (7, '2023-02-18', 'ст. Снежногорск (Мурм.), ш. Коллективное, д. 6 стр. 185, 083959', 863.89);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (8, '2023-11-15', 'ст. Омск, алл. Сенная, д. 1/8, 465205', 171.8);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (9, '2023-11-12', 'г. Неплюевка, ш. Коллективное, д. 650 стр. 880, 170902', 985.33);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (10, '2023-02-17', 'г. Краснотурьинск, бул. Лесхозный, д. 2/7, 090074', 529.19);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (11, '2023-12-17', 'г. Кировск (Мурм.), пр. Блюхера, д. 6 стр. 45, 703385', 731.86);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (12, '2023-06-14', 'клх Усинск, алл. Советской Армии, д. 44 к. 3, 267846', 337.46);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (13, '2023-11-04', 'д. Таштагол, алл. Привольная, д. 3 стр. 3/2, 884500', 158.91);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (14, '2023-02-10', 'д. Камышлов, пр. Социалистический, д. 805, 437695', 196.35);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (15, '2023-03-23', 'ст. Домодедово, ш. Высокое, д. 6 к. 8/4, 870778', 537.67);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (16, '2023-03-08', 'ст. Когалым, бул. Октябрьский, д. 39, 281670', 355.64);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (17, '2023-01-02', 'п. Усть-Илимск, пр. Льва Толстого, д. 839 к. 2/8, 129489', 827.87);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (18, '2023-04-08', 'д. Красногорск (Моск.), алл. Карла Либкнехта, д. 42 к. 961, 136570', 943.87);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (19, '2023-07-04', 'п. Тутаев, пр. Казанский, д. 541 к. 9, 993710', 124.96);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (20, '2023-09-10', 'к. Вуктыл, ш. Выгонное, д. 6 к. 9/8, 584599', 273.97);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (21, '2023-08-29', 'клх Сорочинск, наб. Болотная, д. 946 к. 29, 681780', 70.0);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (22, '2023-08-10', 'с. Усть-Кулом, пер. 9 Января, д. 480 стр. 124, 607660', 516.38);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (23, '2023-01-30', 'к. Тверь, алл. Новая, д. 5, 320689', 202.64);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (24, '2023-07-10', 'д. Куртамыш, наб. Красных Партизан, д. 38, 822409', 369.5);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (25, '2023-03-10', 'п. Тверь, наб. Приморская, д. 8/1 к. 473, 063098', 954.14);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (26, '2023-05-29', 'ст. Аргаяш, бул. М.Горького, д. 828 стр. 97, 400572', 655.9);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (27, '2023-08-19', 'ст. Владимир, алл. Угольная, д. 2 стр. 48, 581108', 392.89);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (28, '2023-09-21', 'г. Середниково, ш. Попова, д. 3, 431111', 684.9);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (29, '2023-12-19', 'к. Бугульма, бул. Казанский, д. 7 к. 150, 694105', 383.26);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (30, '2023-08-27', 'с. Листвянка (Иркут.), пр. Островского, д. 80, 485065', 50.84);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (31, '2023-12-26', 'п. Назрань, ул. Петровская, д. 904 стр. 31, 751067', 178.48);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (32, '2023-01-31', 'п. Магнитогорск, алл. Карбышева, д. 207 стр. 75, 861474', 468.29);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (33, '2023-02-17', 'д. Мытищи, пер. Кооперативный, д. 5/2 к. 7/7, 754247', 643.46);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (34, '2023-08-26', 'г. Верхний Уфалей, ул. Выгонная, д. 8/7, 732954', 67.33);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (35, '2023-05-20', 'п. Переславль-Залесский, ш. Калинина, д. 58 к. 590, 951529', 315.4);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (36, '2023-12-17', 'с. Зеленогорск (Ленин.), пр. Ростовский, д. 431 к. 608, 344316', 652.3);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (37, '2023-05-16', 'д. Муром, алл. Белинского, д. 250 к. 722, 386906', 591.39);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (38, '2023-01-27', 'ст. Амурск, пер. Сплавный, д. 4 стр. 9/1, 013679', 843.4);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (39, '2023-02-05', 'клх Грозный, бул. Путейский, д. 9/6 к. 211, 588993', 512.67);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (40, '2023-02-26', 'г. Кудымкар, алл. Труда, д. 621 к. 77, 740026', 499.98);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (41, '2023-12-05', 'с. Ербогачен, пер. Щетинкина, д. 7, 565789', 707.26);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (42, '2023-09-09', 'г. Каменномостский, пер. Приозерный, д. 948 к. 5/6, 190920', 205.13);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (43, '2023-12-09', 'г. Шахты, ул. Привокзальная, д. 60 стр. 8/7, 147728', 799.8);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (44, '2023-08-26', 'с. Плесецк, пер. Шмидта, д. 61 стр. 622, 553461', 777.24);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (45, '2023-02-24', 'д. Ачинск, наб. Московская, д. 99 к. 632, 052440', 580.11);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (46, '2023-06-03', 'к. Борзя, ш. Маркса, д. 269 стр. 1/1, 459785', 692.89);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (47, '2023-06-02', 'ст. Усть-Ишим, ш. Железнодорожное, д. 3 к. 34, 668500', 813.1);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (48, '2023-09-01', 'с. Объячево, алл. Декабристов, д. 4 стр. 283, 735867', 699.59);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (49, '2023-06-02', 'с. Кижи, ул. Демьяна Бедного, д. 1/7 стр. 45, 372191', 98.33);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (50, '2023-07-31', 'г. Губкин, бул. Автомобилистов, д. 98 стр. 5/4, 421395', 576.11);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (51, '2023-04-14', 'с. Чебаркуль, ул. Чехова, д. 687, 643386', 287.42);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (52, '2023-01-21', 'г. Павловский Посад, пер. Поселковый, д. 570 стр. 8/1, 093693', 298.19);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (53, '2023-10-29', 'к. Южно-Сахалинск, наб. Тупиковая, д. 4, 685414', 927.76);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (54, '2023-06-02', 'д. Кизилюрт, пр. 50 лет Победы, д. 1/9, 350918', 647.69);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (55, '2023-02-24', 'с. Гусь-Хрустальный, наб. Олега Кошевого, д. 1, 485165', 117.58);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (56, '2023-02-04', 'клх Кулунда, ш. Майское, д. 26 стр. 74, 071314', 120.95);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (57, '2023-04-13', 'клх Одинцово, пер. Песчаный, д. 5, 535603', 408.46);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (58, '2023-01-27', 'д. Касимов, ул. Харьковская, д. 71, 899650', 884.3);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (59, '2023-09-27', 'д. Черусти, бул. Волгоградский, д. 416 стр. 83, 184778', 406.94);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (60, '2023-02-06', 'г. Можга, пр. Озерный, д. 42, 131982', 937.41);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (61, '2023-03-05', 'с. Адлер, алл. Ватутина, д. 8, 182331', 102.79);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (62, '2023-04-04', 'п. Владимир, пр. Советский, д. 21 к. 476, 486487', 759.82);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (63, '2023-12-04', 'к. Охотск, ш. Красное, д. 319 к. 8, 513908', 630.24);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (64, '2023-11-06', 'п. Барнаул, пер. Тракторный, д. 98 стр. 5/8, 104855', 934.8);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (65, '2023-06-29', 'клх Уфа, пер. Коминтерна, д. 1 к. 273, 086305', 190.63);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (66, '2023-03-18', 'г. Красноуральск, алл. Димитрова, д. 6/1, 250616', 120.93);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (67, '2023-11-04', 'с. Пятигорск, ш. Кооперативное, д. 3, 373073', 672.66);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (68, '2023-08-12', 'д. Тутаев, пер. 50 лет Октября, д. 6, 312016', 312.39);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (69, '2023-09-28', 'г. Белокуриха, пер. Орджоникидзе, д. 44 стр. 13, 414456', 501.9);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (70, '2023-12-27', 'клх Нарьян-Мар, пер. Пушкинский, д. 364 к. 14, 042732', 650.35);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (71, '2023-08-03', 'п. Выборг, наб. Просторная, д. 6/5 к. 8/2, 949984', 555.88);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (72, '2023-05-12', 'п. Елабуга, бул. Трудовой, д. 6/2 стр. 9, 960210', 807.47);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (73, '2023-07-03', 'д. Воскресенск, ул. Тульская, д. 7/3 к. 2, 908852', 912.27);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (74, '2023-04-24', 'г. Старая Русса, ул. Портовая, д. 40 стр. 4, 145304', 52.26);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (75, '2023-04-10', 'ст. Минеральные Воды, ул. Калужская, д. 8 стр. 348, 152282', 424.93);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (76, '2023-02-20', 'г. Дзержинск, ш. Придорожное, д. 95 стр. 5/7, 008078', 199.17);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (77, '2023-10-27', 'д. Оса, пер. Промышленный, д. 176 к. 1, 575601', 286.92);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (78, '2023-08-07', 'ст. Курск, ш. Енисейское, д. 1/6 стр. 6/5, 031081', 634.11);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (79, '2023-11-21', 'г. Мезень, пр. Южный, д. 18 к. 998, 967256', 283.92);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (80, '2023-11-11', 'к. Москва, бул. Саратовский, д. 733, 967907', 380.57);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (81, '2023-02-10', 'д. Луховицы, пр. Севастопольский, д. 57 стр. 93, 472179', 513.61);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (82, '2023-04-19', 'п. Истра, ул. Севастопольская, д. 95 стр. 4, 994273', 842.4);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (83, '2023-01-31', 'д. Хабаровск, пр. Северный, д. 965 к. 9/9, 244739', 384.8);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (84, '2023-04-13', 'п. Долинск, ул. Амурская, д. 5/4, 805231', 910.66);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (85, '2023-10-01', 'с. Гатчина, ш. 50 лет Октября, д. 9/2, 390282', 171.33);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (86, '2023-05-28', 'к. Калевала, бул. Горняцкий, д. 83 стр. 4, 253903', 62.81);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (87, '2023-11-25', 'к. Плесецк, пр. Азовский, д. 7, 329490', 154.6);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (88, '2023-04-26', 'ст. Воркута, ш. Станционное, д. 856 к. 2/3, 710217', 594.57);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (89, '2023-10-30', 'г. Лабытнанги, ул. Металлургов, д. 7/6 стр. 7/7, 851621', 72.34);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (90, '2023-04-06', 'с. Тайшет, пр. Мая 1, д. 8 к. 7, 425297', 759.56);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (91, '2023-04-19', 'к. Сузун, наб. Николаева, д. 2, 193523', 668.19);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (92, '2023-02-11', 'клх Смирных, ул. Демьяна Бедного, д. 3 к. 4, 679870', 492.2);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (93, '2023-06-24', 'ст. Красноуральск, бул. Иркутский, д. 644, 136185', 177.13);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (94, '2023-07-17', 'ст. Йошкар-Ола, бул. Светлый, д. 81, 586768', 988.24);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (95, '2023-06-26', 'клх Касимов, ул. Л.Толстого, д. 869 к. 4, 405115', 376.89);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (96, '2023-09-03', 'с. Троицк (Моск.), пер. Механический, д. 578, 629717', 134.23);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (97, '2023-06-27', 'с. Элиста, ул. Красногвардейская, д. 94 к. 8, 704447', 311.84);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (98, '2023-01-11', 'г. Усть-Ордынский, пер. Вавилова, д. 1 к. 625, 960946', 987.46);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (99, '2023-01-26', 'с. Мезень, ш. Новоселов, д. 1 к. 3/4, 228827', 148.89);

INSERT INTO "clients" ("id", "date", "address", "price") VALUES (100, '2023-07-10', 'с. Буденновск, пр. Севастопольский, д. 4/5 стр. 5/2, 936661', 61.79);

###CLIENTS

In [ ]:
fake = Faker('ru_RU')
fake.add_provider(Provider)



#загружаем список регионов из таблицы json 
import json
with open('regions.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
    regions_all= data['regions_spisok']


# задаем названиие таблицы
table_name = 'clients'

# задаем столбцы таблицы
# column_names = ('id', 'date', 'address', 'price')
# задаем количество строк таблицы, которое хотим заполнить
k = 97
# генерация и запись DML-скрипта в файл
filename = f'{table_name}.sql' # формируем название выходного файла
with open(filename, 'w', encoding='utf-8') as f: #открытие файла для записи
    # формируем строку с названиями столбцов
    # columns_str = ', '.join(f'"{column}"' for column in column_names)
    for i in range(k):
      # генерируем значения для каждого столбца
        # генерируем случайную дату в диапазоне
        NAME=f"'{fake.name()}'"


        start_date = datetime.date(1950, 1, 1)
        end_date = datetime.date(2008, 12, 31)
        random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))

        
        Oblast=random.choice(regions_all)
        city=fake.city()
        PLACE_OF_BIRTH=f"'Россия, {Oblast},{city}'"
        # PLACE_OF_BIRTH=fake.city()
        # преобразуем дату в строку в формате "год-месяц-день"
        #для строковых значений обязательно f"'{}'"
        DATE_OF_BIRTH = f"to_date('{random_date.strftime('%d.%m.%Y')}','DD.MM.YYYY')"
        Oblast1=random.choice(regions_all)
        #генерируем случайное значение адреса
        ADRESS=f"'Россия, {Oblast1},{fake.address()}'" 
        #генерируем для суммы денег за доставку случайное вещественное число от 0 до 1000 с двумя знаками после запятой  
        # price=round(fake.pyfloat(right_digits=2, min_value=0, max_value=1000), 2) 
        # pas1=

        pas1=fake.passport_number()
        start_date1 = datetime.date(2000, 1, 1)
        end_date1 = datetime.date(2026, 12, 31)
        random_date1 = start_date1 + datetime.timedelta(days=random.randint(0, (end_date1 - start_date1).days))
        date1 = random_date1.strftime('%d.%m.%Y')
        PASPORT=f"'{pas1}, выдан ОВД {city},{date1} '"
        # формируем список со значениями
        values = [i+4,NAME, PLACE_OF_BIRTH,DATE_OF_BIRTH, ADRESS,PASPORT]
        # формируем строку со значениями
        values_str = ', '.join(str(value) for value in values)
        # формируем и записываем DML-запрос в файл
        insert_query = f'INSERT INTO "{table_name}"  VALUES ({values_str});\n'
        print(insert_query) #вывод на консоль - для проверки и отладки
        f.write(insert_query) #запись в файл
    f.close() #закрытие файла
# Скачиваем файл на локальную машину

INSERT INTO "clients"  VALUES (4, 'Екатерина Даниловна Логинова', 'Россия, Республика Бурятия,г. Бугульма', date('23.10.1957','DD.MM.YYYY'), 'Россия, Вологодская область,к. Чита, ул. Энергетическая, д. 9/4 к. 94, 162760', '57 88 502642, выдан ОВД г. Бугульма,16.05.2005 ');

INSERT INTO "clients"  VALUES (5, 'Копылов Василий Бориславович', 'Россия, Рязанская область,г. Бомнак', date('22.03.1993','DD.MM.YYYY'), 'Россия, Пензенская область,д. Великий Устюг, пр. Советский, д. 119, 384297', '90 28 215526, выдан ОВД г. Бомнак,28.02.2016 ');

INSERT INTO "clients"  VALUES (6, 'Марина Даниловна Воронцова', 'Россия, Пермский край,п. Вязьма', date('18.02.1995','DD.MM.YYYY'), 'Россия, Республика Коми,к. Вязьма, бул. Амурский, д. 6, 961888', '4832 085578, выдан ОВД п. Вязьма,23.10.2005 ');

INSERT INTO "clients"  VALUES (7, 'Морозова Евфросиния Георгиевна', 'Россия, Мурманская область,с. Амдерма', date('19.10.1992','DD.MM.YYYY'), 'Россия, Город Севастополь,г. Валаам, наб. Республиканская, д. 171 к. 63, 584936', '3543 156014, выдан ОВД с. Амдерма,16.08.2002 ');

INSERT INTO "clients"  VALUES (8, 'Суворова Валерия Семеновна', 'Россия, Кабардино‑Балкарская Республика,д. Онега', date('11.09.1970','DD.MM.YYYY'), 'Россия, Сахалинская область,д. Слюдянка, наб. Жукова, д. 334 стр. 983, 301807', '55 92 305612, выдан ОВД д. Онега,26.08.2019 ');

INSERT INTO "clients"  VALUES (9, 'Кириллов Владилен Исидорович', 'Россия, Кировская область,п. Корсаков', date('01.01.2005','DD.MM.YYYY'), 'Россия, Город Москва,клх Тавда, пр. 30 лет Победы, д. 89 к. 925, 296312', '3823 306235, выдан ОВД п. Корсаков,10.08.2014 ');

INSERT INTO "clients"  VALUES (10, 'Тамара Павловна Филиппова', 'Россия, Республика Алтай,ст. Рубцовск', date('30.10.1995','DD.MM.YYYY'), 'Россия, Камчатский край,ст. Красногорск (Моск.), пр. Клубный, д. 149 стр. 4, 751005', '98 03 313156, выдан ОВД ст. Рубцовск,06.12.2024 ');

INSERT INTO "clients"  VALUES (11, 'Леон Бориславович Шилов', 'Россия, Чукотский автономный округ,с. Крымск', date('25.05.1982','DD.MM.YYYY'), 'Россия, Республика Мордовия,д. Костомукша, пр. Славянский, д. 96 к. 5/6, 036896', '13 28 257924, выдан ОВД с. Крымск,06.06.2006 ');

INSERT INTO "clients"  VALUES (12, 'Дьячкова Тамара Антоновна', 'Россия, Астраханская область,д. Пятигорск', date('09.03.1971','DD.MM.YYYY'), 'Россия, Псковская область,к. Анива, ул. Свободная, д. 44 к. 881, 865593', '99 48 982981, выдан ОВД д. Пятигорск,11.11.2015 ');

INSERT INTO "clients"  VALUES (13, 'Наумов Творимир Евсеевич', 'Россия, Тульская область,с. Яшалта', date('26.04.2000','DD.MM.YYYY'), 'Россия, Республика Башкортостан,клх Кисловодск, наб. Народная, д. 1, 773468', '04 25 921362, выдан ОВД с. Яшалта,02.02.2004 ');

INSERT INTO "clients"  VALUES (14, 'Онуфрий Ааронович Кудрявцев', 'Россия, Амурская область,к. Кежма', date('26.01.1998','DD.MM.YYYY'), 'Россия, Белгородская область,клх Торжок, алл. Сосновая, д. 91 к. 6/6, 824182', '31 24 011229, выдан ОВД к. Кежма,26.07.2007 ');

INSERT INTO "clients"  VALUES (15, 'Агафья Рубеновна Мишина', 'Россия, Новосибирская область,клх Звенигород', date('08.01.1995','DD.MM.YYYY'), 'Россия, Камчатский край,клх Шелагонцы, ул. Базарная, д. 58 стр. 8/5, 063240', '9937 288955, выдан ОВД клх Звенигород,24.12.2015 ');

INSERT INTO "clients"  VALUES (16, 'Таисия Эдуардовна Панфилова', 'Россия, Ивановская область,с. Стрежевой', date('23.08.2002','DD.MM.YYYY'), 'Россия, Город Севастополь,г. Губкин, ул. Дорожная, д. 179, 995468', '5091 302246, выдан ОВД с. Стрежевой,22.12.2012 ');

INSERT INTO "clients"  VALUES (17, 'Максимильян Владиславович Горбунов', 'Россия, Забайкальский край,к. Муравленко', date('10.09.1997','DD.MM.YYYY'), 'Россия, Республика Татарстан,д. Батайск, наб. Советов, д. 4/8 стр. 111, 581537', '68 17 885365, выдан ОВД к. Муравленко,03.01.2005 ');

INSERT INTO "clients"  VALUES (18, 'тов. Миронова Наина Леонидовна', 'Россия, Еврейская автономная область,ст. Ухта', date('21.05.2006','DD.MM.YYYY'), 'Россия, Республика Бурятия,п. Ейск, пер. Приморский, д. 402 к. 6, 845397', '47 35 424332, выдан ОВД ст. Ухта,27.05.2010 ');

INSERT INTO "clients"  VALUES (19, 'Евдоким Ефремович Гришин', 'Россия, Курская область,клх Сухиничи', date('15.03.1954','DD.MM.YYYY'), 'Россия, Республика Ингушетия,п. Верхний Уфалей, ул. Камская, д. 99 стр. 894, 827005', '79 67 697171, выдан ОВД клх Сухиничи,19.06.2015 ');

INSERT INTO "clients"  VALUES (20, 'Колобова Алевтина Рудольфовна', 'Россия, Курганская область,с. Бодайбо', date('08.05.2002','DD.MM.YYYY'), 'Россия, Город Санкт‑Петербург,клх Кырен, бул. Лесхозный, д. 6 к. 48, 281381', '2752 782643, выдан ОВД с. Бодайбо,09.07.2008 ');

INSERT INTO "clients"  VALUES (21, 'Анна Петровна Фадеева', 'Россия, Республика Северная Осетия — Алания,с. Тында', date('06.02.1950','DD.MM.YYYY'), 'Россия, Пензенская область,г. Вязьма, пер. Менделеева, д. 69, 372997', '2323 933798, выдан ОВД с. Тында,31.01.2020 ');

INSERT INTO "clients"  VALUES (22, 'Валерий Авдеевич Матвеев', 'Россия, Орловская область,д. Добрянка', date('06.04.1978','DD.MM.YYYY'), 'Россия, Алтайский край,к. Белогорск (Амур.), пр. Снежный, д. 525, 330346', '47 71 630605, выдан ОВД д. Добрянка,05.03.2010 ');

INSERT INTO "clients"  VALUES (23, 'Жанна Петровна Соловьева', 'Россия, Краснодарский край,д. Саратов', date('11.02.1959','DD.MM.YYYY'), 'Россия, Республика Марий Эл,с. Городовиковск, ш. Строителей, д. 675, 866358', '9468 230147, выдан ОВД д. Саратов,20.01.2007 ');

INSERT INTO "clients"  VALUES (24, 'Кулакова София Владимировна', 'Россия, Свердловская область,к. Новокузнецк', date('02.08.1987','DD.MM.YYYY'), 'Россия, Курская область,ст. Усть-Ордынский, ш. Краснознаменное, д. 8/5 к. 69, 794375', '3811 111599, выдан ОВД к. Новокузнецк,31.03.2001 ');

INSERT INTO "clients"  VALUES (25, 'Ларионов Мир Игоревич', 'Россия, Оренбургская область,г. Сухиничи', date('18.09.1968','DD.MM.YYYY'), 'Россия, Еврейская автономная область,с. Орск, пр. Крылова, д. 684 стр. 2/6, 207736', '3418 364423, выдан ОВД г. Сухиничи,22.05.2025 ');

INSERT INTO "clients"  VALUES (26, 'Святослав Ильич Коновалов', 'Россия, Белгородская область,клх Дубна', date('16.07.1984','DD.MM.YYYY'), 'Россия, Алтайский край,клх Норильск, пр. Нефтяников, д. 15, 223015', '87 79 027854, выдан ОВД клх Дубна,20.07.2025 ');

INSERT INTO "clients"  VALUES (27, 'Милован Данилович Кудрявцев', 'Россия, Ненецкий автономный округ,ст. Игарка', date('27.11.2004','DD.MM.YYYY'), 'Россия, Город Санкт‑Петербург,с. Миллерово, ул. Совхозная, д. 5 к. 16, 837093', '2704 357927, выдан ОВД ст. Игарка,03.08.2019 ');

INSERT INTO "clients"  VALUES (28, 'Федосий Ефимович Архипов', 'Россия, Сахалинская область,клх Двинской', date('11.02.1953','DD.MM.YYYY'), 'Россия, Приморский край,г. Новый Оскол, наб. Суворова, д. 380 стр. 43, 557299', '4944 923880, выдан ОВД клх Двинской,10.12.2004 ');

INSERT INTO "clients"  VALUES (29, 'Иванна Геннадиевна Гурьева', 'Россия, Камчатский край,ст. Каменск-Уральский', date('24.05.1952','DD.MM.YYYY'), 'Россия, Город Севастополь,д. Зеленогорск (Ленин.), ш. Дальнее, д. 4 к. 747, 004454', '87 89 216630, выдан ОВД ст. Каменск-Уральский,04.07.2000 ');

INSERT INTO "clients"  VALUES (30, 'Арефий Борисович Никитин', 'Россия, Брянская область,к. Югорск', date('01.10.1975','DD.MM.YYYY'), 'Россия, Свердловская область,ст. Архангельск, наб. Нахимова, д. 996 стр. 15, 497799', '59 86 410050, выдан ОВД к. Югорск,28.08.2015 ');

INSERT INTO "clients"  VALUES (31, 'Лебедева Лора Ниловна', 'Россия, Республика Бурятия,д. Билибино', date('11.07.2008','DD.MM.YYYY'), 'Россия, Ставропольский край,ст. Тимашевск, пер. Энергетический, д. 812 стр. 7/3, 208645', '76 52 330476, выдан ОВД д. Билибино,01.05.2020 ');

INSERT INTO "clients"  VALUES (32, 'Веселов Ермил Александрович', 'Россия, Самарская область,п. Нягань', date('13.01.1958','DD.MM.YYYY'), 'Россия, Брянская область,клх Махачкала, алл. Рязанская, д. 5, 963070', '72 42 936112, выдан ОВД п. Нягань,22.02.2009 ');

INSERT INTO "clients"  VALUES (33, 'тов. Ефремов Александр Гавриилович', 'Россия, Республика Дагестан,ст. Юрюзань', date('31.10.1968','DD.MM.YYYY'), 'Россия, Город Санкт‑Петербург,ст. Вытегра, пер. Свободный, д. 48 к. 8/7, 035038', '34 63 456174, выдан ОВД ст. Юрюзань,29.01.2003 ');

INSERT INTO "clients"  VALUES (34, 'Осипова Пелагея Тарасовна', 'Россия, Амурская область,к. Байкальск', date('13.10.1974','DD.MM.YYYY'), 'Россия, Волгоградская область,с. Ряжск, ул. Народная, д. 702 стр. 71, 623287', '95 54 769002, выдан ОВД к. Байкальск,20.09.2025 ');

INSERT INTO "clients"  VALUES (35, 'Любовь Ивановна Морозова', 'Россия, Иркутская область,ст. Каневская', date('16.10.1979','DD.MM.YYYY'), 'Россия, Республика Калмыкия,ст. Красноуфимск, ул. Зеленая, д. 9, 263128', '9947 404255, выдан ОВД ст. Каневская,19.02.2018 ');

INSERT INTO "clients"  VALUES (36, 'Дмитрий Августович Галкин', 'Россия, Ульяновская область,клх Снежногорск (Мурм.)', date('25.01.1966','DD.MM.YYYY'), 'Россия, Город Санкт‑Петербург,клх Красноселькуп, ул. Сибирская, д. 3/5 стр. 7/7, 150328', '9288 400709, выдан ОВД клх Снежногорск (Мурм.),27.05.2019 ');

INSERT INTO "clients"  VALUES (37, 'Зиновьева Полина Ждановна', 'Россия, Астраханская область,д. Таштагол', date('22.10.1955','DD.MM.YYYY'), 'Россия, Город Севастополь,к. Черемхово, бул. Культуры, д. 454 стр. 772, 024309', '89 78 165790, выдан ОВД д. Таштагол,22.12.2005 ');

INSERT INTO "clients"  VALUES (38, 'Кабанова Анна Анатольевна', 'Россия, Республика Ингушетия,ст. Юровск', date('05.10.1997','DD.MM.YYYY'), 'Россия, Приморский край,клх Богучар, ул. Раздольная, д. 6 стр. 9, 659671', '25 92 287909, выдан ОВД ст. Юровск,31.03.2026 ');

INSERT INTO "clients"  VALUES (39, 'Евдоким Глебович Коновалов', 'Россия, Курская область,п. Шатки', date('12.08.1978','DD.MM.YYYY'), 'Россия, Донецкая Народная Республика,клх Троицк (Челяб.), пр. Социалистический, д. 3/9, 134470', '58 82 781176, выдан ОВД п. Шатки,08.06.2012 ');

INSERT INTO "clients"  VALUES (40, 'Регина Николаевна Лихачева', 'Россия, Сахалинская область,п. Шелагонцы', date('16.05.2005','DD.MM.YYYY'), 'Россия, Ставропольский край,с. Мелеуз, алл. Ульяновская, д. 5, 998361', '36 94 772290, выдан ОВД п. Шелагонцы,31.01.2000 ');

INSERT INTO "clients"  VALUES (41, 'Кузьмина Алевтина Георгиевна', 'Россия, Красноярский край,г. Дзержинск', date('01.05.1979','DD.MM.YYYY'), 'Россия, Калужская область,п. Руза, бул. Курганный, д. 131 к. 7, 126920', '4236 220776, выдан ОВД г. Дзержинск,20.03.2006 ');

INSERT INTO "clients"  VALUES (42, 'Эмилия Ивановна Королева', 'Россия, Кемеровская область,д. Троицко-Печорск', date('11.09.1960','DD.MM.YYYY'), 'Россия, Томская область,г. Касимов, бул. Прохладный, д. 4, 588933', '68 40 179787, выдан ОВД д. Троицко-Печорск,07.06.2018 ');

INSERT INTO "clients"  VALUES (43, 'Клавдий Виленович Калашников', 'Россия, Свердловская область,д. Рязань', date('07.12.2001','DD.MM.YYYY'), 'Россия, Курская область,клх Североуральск, алл. Майская, д. 34 к. 41, 165177', '8788 057060, выдан ОВД д. Рязань,22.12.2025 ');

INSERT INTO "clients"  VALUES (44, 'Мартьян Матвеевич Брагин', 'Россия, Ульяновская область,к. Калининград', date('23.02.1969','DD.MM.YYYY'), 'Россия, Алтайский край,с. Нижний Новгород, ш. Коминтерна, д. 6/5, 010149', '55 64 671165, выдан ОВД к. Калининград,31.03.2025 ');

INSERT INTO "clients"  VALUES (45, 'Фотий Борисович Григорьев', 'Россия, Курская область,клх Оленек', date('16.10.1965','DD.MM.YYYY'), 'Россия, Приморский край,д. Нижнекамск, пр. Менделеева, д. 68 к. 9, 319367', '6272 700588, выдан ОВД клх Оленек,03.10.2002 ');

INSERT INTO "clients"  VALUES (46, 'Дорофеева Майя Юльевна', 'Россия, Ростовская область,п. Можайск', date('04.01.1973','DD.MM.YYYY'), 'Россия, Ставропольский край,с. Нарьян-Мар, ул. Чкалова, д. 7 к. 8/6, 312756', '99 58 964787, выдан ОВД п. Можайск,07.02.2004 ');

INSERT INTO "clients"  VALUES (47, 'г-н Туров Терентий Марсович', 'Россия, Калининградская область,п. Нижний Тагил', date('11.06.1989','DD.MM.YYYY'), 'Россия, Ставропольский край,ст. Оленек, наб. Карбышева, д. 5, 103150', '30 22 309748, выдан ОВД п. Нижний Тагил,04.12.2015 ');

INSERT INTO "clients"  VALUES (48, 'Гаврилов Олимпий Харлампьевич', 'Россия, Республика Алтай,клх Усть-Катав', date('17.07.1999','DD.MM.YYYY'), 'Россия, Город Москва,г. Набережные Челны, наб. Мая 1, д. 4 к. 2/2, 591389', '86 57 003927, выдан ОВД клх Усть-Катав,02.03.2020 ');

INSERT INTO "clients"  VALUES (49, 'Лариса Ивановна Владимирова', 'Россия, Мурманская область,ст. Карабулак', date('01.02.1986','DD.MM.YYYY'), 'Россия, Астраханская область,клх Асбест, алл. Клубная, д. 886 стр. 826, 507996', '6938 051726, выдан ОВД ст. Карабулак,27.10.2006 ');

INSERT INTO "clients"  VALUES (50, 'Давыд Яковлевич Комиссаров', 'Россия, Республика Адыгея,ст. Адыгейск', date('16.10.2005','DD.MM.YYYY'), 'Россия, Ленинградская область,к. Чехов, бул. Весенний, д. 925 к. 6/7, 553097', '20 00 863213, выдан ОВД ст. Адыгейск,26.09.2002 ');

INSERT INTO "clients"  VALUES (51, 'Гедеон Григорьевич Галкин', 'Россия, Чеченская Республика,ст. Сеймчан', date('11.11.1967','DD.MM.YYYY'), 'Россия, Тульская область,с. Коломна, алл. Гагарина, д. 9/4, 938043', '43 12 286891, выдан ОВД ст. Сеймчан,19.11.2023 ');

INSERT INTO "clients"  VALUES (52, 'Вишнякова Раиса Максимовна', 'Россия, Тульская область,д. Зеленогорск (Ленин.)', date('29.10.1998','DD.MM.YYYY'), 'Россия, Брянская область,г. Кинешма, ул. Пархоменко, д. 743 к. 519, 628233', '57 13 261559, выдан ОВД д. Зеленогорск (Ленин.),02.10.2017 ');

INSERT INTO "clients"  VALUES (53, 'Кулагин Егор Жанович', 'Россия, Саратовская область,клх Внуково (метеост.)', date('16.10.1977','DD.MM.YYYY'), 'Россия, Город Севастополь,д. Карабулак, алл. Механическая, д. 720 к. 609, 344667', '51 07 076630, выдан ОВД клх Внуково (метеост.),10.08.2022 ');

INSERT INTO "clients"  VALUES (54, 'Суворов Твердислав Еремеевич', 'Россия, Республика Саха (Якутия),д. Воркута', date('23.03.1955','DD.MM.YYYY'), 'Россия, Чукотский автономный округ,д. Тосно, алл. Кольцевая, д. 65, 924746', '29 73 349447, выдан ОВД д. Воркута,10.08.2026 ');

INSERT INTO "clients"  VALUES (55, 'Савельев Гремислав Ильясович', 'Россия, Челябинская область,клх Баксан', date('22.02.1993','DD.MM.YYYY'), 'Россия, Оренбургская область,п. Калининград, наб. Приозерная, д. 1/7 к. 46, 472379', '8171 095559, выдан ОВД клх Баксан,11.02.2013 ');

INSERT INTO "clients"  VALUES (56, 'Фаина Макаровна Петрова', 'Россия, Нижегородская область,п. Апшеронск', date('23.06.2004','DD.MM.YYYY'), 'Россия, Амурская область,ст. Сургут (Хант.), алл. Рабочая, д. 751 к. 404, 006374', '8654 830237, выдан ОВД п. Апшеронск,22.06.2009 ');

INSERT INTO "clients"  VALUES (57, 'Ираида Леоновна Григорьева', 'Россия, Свердловская область,к. Армавир', date('11.09.1967','DD.MM.YYYY'), 'Россия, Пермский край,к. Звенигород, алл. Огородная, д. 130 стр. 9, 077316', '73 68 395124, выдан ОВД к. Армавир,12.02.2023 ');

INSERT INTO "clients"  VALUES (58, 'Гаврилова Анжела Максимовна', 'Россия, Сахалинская область,к. Теберда', date('13.12.2000','DD.MM.YYYY'), 'Россия, Мурманская область,г. Иваново, ул. Демьяна Бедного, д. 193 к. 6, 689089', '07 59 067407, выдан ОВД к. Теберда,11.03.2000 ');

INSERT INTO "clients"  VALUES (59, 'Казаков Милий Витальевич', 'Россия, Республика Башкортостан,д. Нижнекамск', date('02.01.1955','DD.MM.YYYY'), 'Россия, Курская область,д. Богучар, пр. Прибрежный, д. 5/9 к. 54, 315052', '2518 813061, выдан ОВД д. Нижнекамск,04.07.2004 ');

INSERT INTO "clients"  VALUES (60, 'Василиса Святославовна Емельянова', 'Россия, Республика Саха (Якутия),с. Темрюк', date('14.06.1968','DD.MM.YYYY'), 'Россия, Ярославская область,ст. Североморск, ул. Вавилова, д. 3, 993256', '00 44 435920, выдан ОВД с. Темрюк,09.11.2019 ');

INSERT INTO "clients"  VALUES (61, 'Трофимова Кира Владиславовна', 'Россия, Саратовская область,д. Переславль-Залесский', date('26.05.2000','DD.MM.YYYY'), 'Россия, Тверская область,ст. Нижний Тагил, ул. Запрудная, д. 1 к. 3, 842816', '3377 317071, выдан ОВД д. Переславль-Залесский,23.12.2006 ');

INSERT INTO "clients"  VALUES (62, 'Белозерова Виктория Богдановна', 'Россия, Новгородская область,клх Йошкар-Ола', date('27.10.1998','DD.MM.YYYY'), 'Россия, Республика Саха (Якутия),п. Рязань, алл. Васильковая, д. 7/2 к. 1, 878758', '9167 728121, выдан ОВД клх Йошкар-Ола,21.02.2026 ');

INSERT INTO "clients"  VALUES (63, 'Никитин Эраст Эдгардович', 'Россия, Карачаево‑Черкесская Республика,д. Сузун', date('04.07.1967','DD.MM.YYYY'), 'Россия, Город Севастополь,д. Аша, алл. Малиновая, д. 177 к. 581, 097286', '6364 531463, выдан ОВД д. Сузун,27.06.2020 ');

INSERT INTO "clients"  VALUES (64, 'Виктория Кирилловна Михайлова', 'Россия, Хабаровский край,с. Обнинск', date('01.01.2001','DD.MM.YYYY'), 'Россия, Чеченская Республика,д. Таганрог, ул. Волжская, д. 49, 448813', '8646 762164, выдан ОВД с. Обнинск,17.12.2019 ');

INSERT INTO "clients"  VALUES (65, 'Зуев Дорофей Эдгарович', 'Россия, Кабардино‑Балкарская Республика,с. Магадан', date('14.01.1972','DD.MM.YYYY'), 'Россия, Свердловская область,г. Всеволожск, ул. Орловская, д. 68 стр. 935, 735621', '82 26 381448, выдан ОВД с. Магадан,14.09.2021 ');

INSERT INTO "clients"  VALUES (66, 'Шилова Варвара Семеновна', 'Россия, Тюменская область,п. Октябрьский (Башк.)', date('05.02.1988','DD.MM.YYYY'), 'Россия, Иркутская область,клх Ряжск, пр. Шахтерский, д. 9/1, 556085', '6901 968620, выдан ОВД п. Октябрьский (Башк.),10.10.2016 ');

INSERT INTO "clients"  VALUES (67, 'Шилов Пров Феликсович', 'Россия, Республика Алтай,с. Верхотурье', date('04.12.1954','DD.MM.YYYY'), 'Россия, Самарская область,к. Новороссийск, наб. Орджоникидзе, д. 3/8 к. 960, 146572', '57 07 844563, выдан ОВД с. Верхотурье,07.12.2005 ');

INSERT INTO "clients"  VALUES (68, 'Белозеров Нифонт Феофанович', 'Россия, Ханты‑Мансийский АО — Югра,д. Холмогоры', date('19.07.1981','DD.MM.YYYY'), 'Россия, Калининградская область,г. Бреды, пер. Семашко, д. 4, 985114', '24 44 134370, выдан ОВД д. Холмогоры,23.06.2009 ');

INSERT INTO "clients"  VALUES (69, 'Емельянова Ксения Даниловна', 'Россия, Ивановская область,с. Элиста', date('21.08.1994','DD.MM.YYYY'), 'Россия, Алтайский край,п. Алагир, пр. Малиновый, д. 76, 283074', '5336 734310, выдан ОВД с. Элиста,14.11.2022 ');

INSERT INTO "clients"  VALUES (70, 'Кудрявцев Спиридон Евсеевич', 'Россия, Свердловская область,с. Нальчик', date('30.10.1973','DD.MM.YYYY'), 'Россия, Кировская область,г. Курган, пер. Волгоградский, д. 5/3, 513227', '0642 936875, выдан ОВД с. Нальчик,11.10.2008 ');

INSERT INTO "clients"  VALUES (71, 'Белозерова Галина Станиславовна', 'Россия, Город Севастополь,ст. Усолье Сибирское', date('12.09.2000','DD.MM.YYYY'), 'Россия, Республика Марий Эл,с. Листвянка (Иркут.), алл. 8 Марта, д. 932, 784672', '95 67 641732, выдан ОВД ст. Усолье Сибирское,12.04.2020 ');

INSERT INTO "clients"  VALUES (72, 'Громова Феврония Филипповна', 'Россия, Республика Башкортостан,г. Орел', date('04.10.1968','DD.MM.YYYY'), 'Россия, Хабаровский край,клх Забайкальск, бул. Набережный, д. 762, 030016', '70 72 661690, выдан ОВД г. Орел,26.10.2012 ');

INSERT INTO "clients"  VALUES (73, 'Комаров Сила Богданович', 'Россия, Тюменская область,д. Новороссийка', date('19.05.1952','DD.MM.YYYY'), 'Россия, Луганская Народная Республика,ст. Соликамск, пр. Приозерный, д. 6/8 к. 7/9, 228310', '67 75 223361, выдан ОВД д. Новороссийка,29.07.2001 ');

INSERT INTO "clients"  VALUES (74, 'Владлен Зиновьевич Корнилов', 'Россия, Красноярский край,клх Рыльск', date('22.09.1976','DD.MM.YYYY'), 'Россия, Белгородская область,к. Волгодонск, алл. Приозерная, д. 8/2, 727936', '2884 145161, выдан ОВД клх Рыльск,15.08.2018 ');

INSERT INTO "clients"  VALUES (75, 'Глеб Демидович Доронин', 'Россия, Саратовская область,ст. Мелеуз', date('10.01.1976','DD.MM.YYYY'), 'Россия, Челябинская область,клх Краснодар, наб. Заозерная, д. 175 к. 3, 093291', '4907 805039, выдан ОВД ст. Мелеуз,26.07.2007 ');


In [9]:
start_date = datetime.date(2000, 1, 1)
end_date = datetime.date(2026, 12, 31)
random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))
date = random_date.strftime('%d.%m.%Y')

In [82]:
import json
with open('regions.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
    regions_all= data['regions_spisok']

In [106]:
for i in range(10):
    Oblast=random.choice(regions_all)
    PLACE_OF_BIRTH=f"Россия, {Oblast},{fake.city()}"
    print(PLACE_OF_BIRTH)

Россия, Ярославская область,с. Мытищи
Россия, Республика Мордовия,к. Шаховская
Россия, Краснодарский край,ст. Мостовской
Россия, Архангельская область,г. Андреаполь
Россия, Карачаево‑Черкесская Республика,д. Дагомыс
Россия, Архангельская область,д. Токсово
Россия, Чувашская Республика,ст. Льгов
Россия, Чеченская Республика,п. Благовещенск (Амур.)
Россия, Чувашская Республика,клх Певек
Россия, Нижегородская область,с. Зарайск

In [34]:
import json
with open('regions.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
    regions_all= data['regions_spisok']


# задаем названиие таблицы
table_name = 'clients'

# задаем столбцы таблицы
# column_names = ('id', 'date', 'address', 'price')
# задаем количество строк таблицы, которое хотим заполнить
k = 97
# генерация и запись DML-скрипта в файл
filename = f'{table_name}_for_sqlite.sql' # формируем название выходного файла
with open(filename, 'w', encoding='utf-8') as f: #открытие файла для записи
    # формируем строку с названиями столбцов
    # columns_str = ', '.join(f'"{column}"' for column in column_names)
    for i in range(k):
      # генерируем значения для каждого столбца
        # генерируем случайную дату в диапазоне
        NAME=f"'{fake.name()}'"


        start_date = datetime.date(1950, 1, 1)
        end_date = datetime.date(2008, 12, 31)
        random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))

        
        Oblast=random.choice(regions_all)
        city=fake.city()
        PLACE_OF_BIRTH=f"'Россия, {Oblast},{city}'"
        # PLACE_OF_BIRTH=fake.city()
        # преобразуем дату в строку в формате "год-месяц-день"
        #для строковых значений обязательно f"'{}'"
        DATE_OF_BIRTH = f"date('{random_date.strftime('%Y-%m-%d')}')"
        Oblast1=random.choice(regions_all)
        #генерируем случайное значение адреса
        ADRESS=f"'Россия, {Oblast1},{fake.address()}'" 
        #генерируем для суммы денег за доставку случайное вещественное число от 0 до 1000 с двумя знаками после запятой  
        # price=round(fake.pyfloat(right_digits=2, min_value=0, max_value=1000), 2) 
        # pas1=

        pas1=fake.passport_number()
        start_date1 = datetime.date(2000, 1, 1)
        end_date1 = datetime.date(2026, 12, 31)
        random_date1 = start_date1 + datetime.timedelta(days=random.randint(0, (end_date1 - start_date1).days))
        date1 = random_date1.strftime('%d.%m.%Y')
        PASPORT=f"'{pas1}, выдан ОВД {city},{date1} '"
        # формируем список со значениями
        values = [i+4,NAME, PLACE_OF_BIRTH,DATE_OF_BIRTH, ADRESS,PASPORT]
        # формируем строку со значениями
        values_str = ', '.join(str(value) for value in values)
        # формируем и записываем DML-запрос в файл
        insert_query = f'INSERT INTO "{table_name}"  VALUES ({values_str});\n'
        print(insert_query) #вывод на консоль - для проверки и отладки
        f.write(insert_query) #запись в файл
    f.close() #закрытие файла
# Скачиваем файл на локальную машину

INSERT INTO "clients"  VALUES (4, 'Стрелков Ипполит Авдеевич', 'Россия, Курская область,с. Нижневартовск', date('1988-01-09'), 'Россия, Республика Тыва,с. Сасово, ул. Флотская, д. 7, 778446', '40 52 342371, выдан ОВД с. Нижневартовск,24.01.2003 ');

INSERT INTO "clients"  VALUES (5, 'Зыков Мефодий Августович', 'Россия, Пермский край,ст. Лабинск', date('1978-09-29'), 'Россия, Свердловская область,с. Нязепетровск, бул. Западный, д. 7/2 к. 885, 468387', '27 10 781976, выдан ОВД ст. Лабинск,08.05.2011 ');

INSERT INTO "clients"  VALUES (6, 'Герман Ефимович Пестов', 'Россия, Ненецкий автономный округ,с. Наро-Фоминск', date('1980-08-19'), 'Россия, Волгоградская область,клх Новороссийка, бул. Каштановый, д. 969 к. 3, 586749', '6125 883551, выдан ОВД с. Наро-Фоминск,19.06.2009 ');

INSERT INTO "clients"  VALUES (7, 'Ратибор Даниилович Мартынов', 'Россия, Ленинградская область,клх Егорьевск', date('1997-06-26'), 'Россия, Красноярский край,г. Снежинск, алл. Труда, д. 590, 291514', '9853 152841, выдан ОВД клх Егорьевск,25.01.2004 ');

INSERT INTO "clients"  VALUES (8, 'Тамара Антоновна Сергеева', 'Россия, Ярославская область,д. Мелеуз', date('1994-12-04'), 'Россия, Республика Дагестан,клх Серафимович, ш. Загородное, д. 9/3 стр. 53, 445386', '60 79 792505, выдан ОВД д. Мелеуз,13.03.2018 ');

INSERT INTO "clients"  VALUES (9, 'Ия Андреевна Анисимова', 'Россия, Ставропольский край,с. Южноуральск', date('1993-07-21'), 'Россия, Ханты‑Мансийский АО — Югра,г. Сорочинск, пр. Карьерный, д. 34, 625579', '47 27 339183, выдан ОВД с. Южноуральск,08.04.2026 ');

INSERT INTO "clients"  VALUES (10, 'Калинина Агафья Семеновна', 'Россия, Ставропольский край,г. Углич', date('1957-05-14'), 'Россия, Республика Ингушетия,с. Усолье Сибирское, ш. Менделеева, д. 786 стр. 5, 624856', '2511 430597, выдан ОВД г. Углич,22.04.2000 ');

INSERT INTO "clients"  VALUES (11, 'Блинова Лариса Петровна', 'Россия, Камчатский край,ст. Бирск', date('1989-07-25'), 'Россия, Ярославская область,с. Можайск, ш. Ангарское, д. 847 к. 472, 715352', '09 38 048445, выдан ОВД ст. Бирск,24.11.2026 ');

INSERT INTO "clients"  VALUES (12, 'Быкова Валентина Эдуардовна', 'Россия, Ставропольский край,д. Льгов', date('1967-12-08'), 'Россия, Республика Ингушетия,ст. Туапсе, ул. Никитина, д. 279, 001808', '20 28 429837, выдан ОВД д. Льгов,21.02.2015 ');

INSERT INTO "clients"  VALUES (13, 'Остромир Феодосьевич Колесников', 'Россия, Калининградская область,к. Нижний Новгород', date('1990-12-29'), 'Россия, Республика Коми,п. Верещагино (Перм.), ул. Кошевого, д. 7 к. 2/9, 085017', '3453 249344, выдан ОВД к. Нижний Новгород,29.12.2020 ');

INSERT INTO "clients"  VALUES (14, 'Некрасова Юлия Николаевна', 'Россия, Архангельская область,с. Благовещенск (Амур.)', date('1951-10-19'), 'Россия, Республика Крым,д. Кандалакша, пр. Володарского, д. 547 к. 3/4, 161960', '6122 693813, выдан ОВД с. Благовещенск (Амур.),09.08.2024 ');

INSERT INTO "clients"  VALUES (15, 'Афанасьева Алла Георгиевна', 'Россия, Республика Калмыкия,к. Междуреченский', date('1962-03-31'), 'Россия, Кемеровская область,г. Новороссийск, бул. Белинского, д. 87 к. 740, 609593', '2414 901855, выдан ОВД к. Междуреченский,10.10.2025 ');

INSERT INTO "clients"  VALUES (16, 'Исаков Сила Гертрудович', 'Россия, Кемеровская область,ст. Орск', date('1957-06-27'), 'Россия, Краснодарский край,г. Белореченск, пер. Воронежский, д. 8/1, 374446', '83 19 234857, выдан ОВД ст. Орск,27.10.2020 ');

INSERT INTO "clients"  VALUES (17, 'Архипов Гедеон Брониславович', 'Россия, Забайкальский край,к. Оленек', date('1959-10-23'), 'Россия, Луганская Народная Республика,п. Павловский Посад, алл. Глинки, д. 5 к. 4, 894567', '5025 568012, выдан ОВД к. Оленек,28.11.2011 ');

INSERT INTO "clients"  VALUES (18, 'Яков Филатович Архипов', 'Россия, Кабардино‑Балкарская Республика,клх Мончегорск', date('1974-01-09'), 'Россия, Самарская область,ст. Анадырь, алл. Майская, д. 5/4 стр. 82, 975686', '27 78 351098, выдан ОВД клх Мончегорск,21.02.2000 ');

INSERT INTO "clients"  VALUES (19, 'Нифонт Гертрудович Осипов', 'Россия, Курская область,г. Верещагино (Перм.)', date('1961-07-01'), 'Россия, Кировская область,с. Череповец, ш. Высотное, д. 62 стр. 918, 370405', '1536 083315, выдан ОВД г. Верещагино (Перм.),30.08.2016 ');

INSERT INTO "clients"  VALUES (20, 'Юдин Ефрем Егорович', 'Россия, Республика Крым,ст. Билибино', date('2007-05-16'), 'Россия, Владимирская область,д. Гатчина, бул. Сосновый, д. 8 стр. 642, 699049', '1985 702297, выдан ОВД ст. Билибино,16.02.2022 ');

INSERT INTO "clients"  VALUES (21, 'Антонина Константиновна Комарова', 'Россия, Ненецкий автономный округ,клх Выборг', date('1957-07-25'), 'Россия, Ненецкий автономный округ,к. Приозерск, пер. Ставропольский, д. 793 к. 29, 651058', '3448 950141, выдан ОВД клх Выборг,09.01.2022 ');

INSERT INTO "clients"  VALUES (22, 'Денисов Кузьма Исидорович', 'Россия, Республика Алтай,п. Сунтар', date('1990-05-30'), 'Россия, Республика Карелия,с. Новомосковск, алл. Декабристов, д. 895 к. 8, 121244', '8478 686526, выдан ОВД п. Сунтар,19.06.2016 ');

INSERT INTO "clients"  VALUES (23, 'Захар Захарьевич Елисеев', 'Россия, Томская область,клх Кропоткин (Краснод.)', date('1999-08-20'), 'Россия, Орловская область,с. Цимлянск, пр. Новоселов, д. 30, 108754', '26 74 557747, выдан ОВД клх Кропоткин (Краснод.),26.10.2021 ');

INSERT INTO "clients"  VALUES (24, 'Григорьева Александра Юрьевна', 'Россия, Ивановская область,д. Темрюк', date('1958-04-07'), 'Россия, Республика Тыва,к. Жуковский, ш. Нахимова, д. 174 стр. 7, 012572', '27 34 310587, выдан ОВД д. Темрюк,26.03.2008 ');

INSERT INTO "clients"  VALUES (25, 'Игнатова Милица Богдановна', 'Россия, Вологодская область,к. Смоленск', date('2007-02-12'), 'Россия, Новгородская область,клх Костомукша, ул. Линейная, д. 99 к. 389, 431071', '50 41 953630, выдан ОВД к. Смоленск,27.01.2021 ');

INSERT INTO "clients"  VALUES (26, 'Спартак Анисимович Крылов', 'Россия, Республика Дагестан,клх Псебай', date('1964-03-19'), 'Россия, Волгоградская область,п. Кабанск, наб. Павлова, д. 1, 238604', '49 32 682889, выдан ОВД клх Псебай,04.07.2000 ');

INSERT INTO "clients"  VALUES (27, 'Филимон Бориславович Кононов', 'Россия, Республика Татарстан,ст. Пинега', date('1953-11-30'), 'Россия, Тюменская область,д. Верхотурье, пер. Комарова, д. 994, 125291', '4429 824543, выдан ОВД ст. Пинега,22.10.2003 ');

INSERT INTO "clients"  VALUES (28, 'Юлия Викторовна Авдеева', 'Россия, Владимирская область,ст. Волгоград', date('1973-03-08'), 'Россия, Ямало‑Ненецкий автономный округ,д. Алапаевск, наб. Кузнецова, д. 4 стр. 357, 990424', '43 12 833839, выдан ОВД ст. Волгоград,22.08.2022 ');

INSERT INTO "clients"  VALUES (29, 'Дарья Владимировна Белозерова', 'Россия, Воронежская область,п. Семлячики', date('1995-10-01'), 'Россия, Республика Алтай,г. Жиганск, алл. Красноармейская, д. 34, 972420', '4670 413337, выдан ОВД п. Семлячики,28.12.2005 ');

INSERT INTO "clients"  VALUES (30, 'Каллистрат Ильясович Харитонов', 'Россия, Кемеровская область,г. Калачинск', date('2004-03-21'), 'Россия, Московская область,г. Троицк (Челяб.), пер. Геологический, д. 9/5, 159430', '6717 599958, выдан ОВД г. Калачинск,15.01.2025 ');

INSERT INTO "clients"  VALUES (31, 'Вера Кузьминична Агафонова', 'Россия, Волгоградская область,г. Куртамыш', date('1996-07-31'), 'Россия, Брянская область,д. Енисейск, ш. Семашко, д. 829 стр. 1/5, 229815', '0509 975142, выдан ОВД г. Куртамыш,18.04.2023 ');

INSERT INTO "clients"  VALUES (32, 'Прасковья Ниловна Маслова', 'Россия, Псковская область,клх Эльтон', date('1998-03-28'), 'Россия, Республика Марий Эл,с. Петрозаводск, ул. Чкалова, д. 38, 660094', '20 58 035477, выдан ОВД клх Эльтон,01.11.2008 ');

INSERT INTO "clients"  VALUES (33, 'Аполлон Авдеевич Максимов', 'Россия, Томская область,г. Усолье Сибирское', date('1979-04-17'), 'Россия, Ростовская область,п. Кедровый, бул. Лазо, д. 796, 076811', '83 33 839347, выдан ОВД г. Усолье Сибирское,06.08.2011 ');

INSERT INTO "clients"  VALUES (34, 'Марина Михайловна Мельникова', 'Россия, Кировская область,д. Приморско-Ахтарск', date('1952-10-01'), 'Россия, Вологодская область,д. Черский, бул. Горняцкий, д. 1 стр. 683, 675542', '67 16 080589, выдан ОВД д. Приморско-Ахтарск,21.12.2016 ');

INSERT INTO "clients"  VALUES (35, 'Панова Зоя Юльевна', 'Россия, Саратовская область,клх Бирск', date('1990-08-17'), 'Россия, Амурская область,с. Красная Поляна, ул. 8-е Марта, д. 961 стр. 39, 642443', '6738 296761, выдан ОВД клх Бирск,09.01.2003 ');

INSERT INTO "clients"  VALUES (36, 'Юдин Валентин Трифонович', 'Россия, Чувашская Республика,с. Арсеньев', date('1993-03-28'), 'Россия, Ленинградская область,п. Буйнакск, наб. Придорожная, д. 631, 681852', '96 18 820298, выдан ОВД с. Арсеньев,08.10.2023 ');

INSERT INTO "clients"  VALUES (37, 'Фомина Акулина Николаевна', 'Россия, Ивановская область,ст. Нарткала', date('1999-05-23'), 'Россия, Республика Алтай,ст. Челюскин, ш. Придорожное, д. 9/7 стр. 3/5, 330800', '66 45 412685, выдан ОВД ст. Нарткала,01.09.2026 ');

INSERT INTO "clients"  VALUES (38, 'Журавлев Осип Денисович', 'Россия, Астраханская область,к. Галич', date('1951-09-16'), 'Россия, Вологодская область,ст. Новомичуринск, алл. Деповская, д. 13 к. 7/3, 059696', '97 96 185153, выдан ОВД к. Галич,19.10.2017 ');

INSERT INTO "clients"  VALUES (39, 'Сергей Устинович Кулагин', 'Россия, Республика Башкортостан,п. Кашхатау', date('1963-05-28'), 'Россия, Республика Бурятия,к. Губкинский, ул. Кавказская, д. 87 к. 3, 985409', '32 93 080098, выдан ОВД п. Кашхатау,07.07.2024 ');

INSERT INTO "clients"  VALUES (40, 'Кулакова Людмила Яковлевна', 'Россия, Хабаровский край,клх Можайск', date('1977-07-03'), 'Россия, Тульская область,клх Юрьевец (Иван.), ул. Привокзальная, д. 3 к. 72, 990714', '4530 585730, выдан ОВД клх Можайск,29.09.2022 ');

INSERT INTO "clients"  VALUES (41, 'Прохорова Ксения Николаевна', 'Россия, Город Севастополь,клх Серафимович', date('2006-02-15'), 'Россия, Ставропольский край,ст. Яхрома, ул. Загородная, д. 52 стр. 97, 144705', '54 58 039528, выдан ОВД клх Серафимович,17.10.2006 ');

INSERT INTO "clients"  VALUES (42, 'Оксана Егоровна Фомичева', 'Россия, Республика Марий Эл,ст. Юрьевец (Иван.)', date('1959-05-07'), 'Россия, Пермский край,п. Тихорецк, пер. Дорожников, д. 92, 501971', '0042 589421, выдан ОВД ст. Юрьевец (Иван.),09.02.2001 ');

INSERT INTO "clients"  VALUES (43, 'Селиверстов Иван Егорович', 'Россия, Калужская область,д. Баргузин', date('1992-01-08'), 'Россия, Оренбургская область,с. Сковородино, бул. Журавлева, д. 5/4, 498029', '41 46 795744, выдан ОВД д. Баргузин,22.09.2024 ');

INSERT INTO "clients"  VALUES (44, 'Софон Иларионович Капустин', 'Россия, Нижегородская область,клх Обоянь', date('1995-05-09'), 'Россия, Донецкая Народная Республика,с. Онега, алл. Гвардейская, д. 369, 774640', '97 88 002985, выдан ОВД клх Обоянь,12.10.2014 ');

INSERT INTO "clients"  VALUES (45, 'Ширяев Алексей Вилорович', 'Россия, Костромская область,клх Якша', date('1972-04-10'), 'Россия, Саратовская область,ст. Нурлат, ш. Комарова, д. 263, 684409', '78 84 542279, выдан ОВД клх Якша,11.05.2001 ');

INSERT INTO "clients"  VALUES (46, 'Жанна Наумовна Лазарева', 'Россия, Калининградская область,клх Вилюйск', date('1950-10-31'), 'Россия, Кировская область,г. Новочеркасск, ш. Орджоникидзе, д. 3/1, 703121', '1204 313573, выдан ОВД клх Вилюйск,29.09.2023 ');

INSERT INTO "clients"  VALUES (47, 'Леонтий Захарьевич Блохин', 'Россия, Свердловская область,п. Бийск', date('1986-12-12'), 'Россия, Чукотский автономный округ,п. Адлер, ул. Клары Цеткин, д. 4/8 к. 4, 672452', '8401 468028, выдан ОВД п. Бийск,07.04.2025 ');

INSERT INTO "clients"  VALUES (48, 'Павел Герасимович Панов', 'Россия, Республика Карелия,д. Брянск', date('1978-05-29'), 'Россия, Чукотский автономный округ,ст. Междуреченский, пр. 8-е Марта, д. 75 стр. 25, 841054', '5604 155417, выдан ОВД д. Брянск,18.04.2022 ');

INSERT INTO "clients"  VALUES (49, 'Морозова Олимпиада Леонидовна', 'Россия, Архангельская область,к. Тикси', date('2004-07-01'), 'Россия, Московская область,к. Ряжск, алл. Пожарского, д. 412, 003160', '7236 464078, выдан ОВД к. Тикси,16.05.2011 ');

INSERT INTO "clients"  VALUES (50, 'Рожков Мирон Венедиктович', 'Россия, Тамбовская область,с. Чайковский', date('1984-12-01'), 'Россия, Забайкальский край,д. Горячинск, пр. Степной, д. 71, 724448', '9702 020168, выдан ОВД с. Чайковский,19.01.2017 ');

INSERT INTO "clients"  VALUES (51, 'Петрова Галина Геннадиевна', 'Россия, Архангельская область,с. Кижи', date('1951-06-20'), 'Россия, Республика Татарстан,ст. Кизел, алл. Шаумяна, д. 7/2 к. 584, 903456', '67 25 122389, выдан ОВД с. Кижи,11.11.2025 ');

INSERT INTO "clients"  VALUES (52, 'Тимофей Иосифович Дроздов', 'Россия, Кемеровская область,г. Кашира', date('2001-01-22'), 'Россия, Чукотский автономный округ,г. Сусуман, пер. Блюхера, д. 715 к. 429, 837733', '0573 880326, выдан ОВД г. Кашира,09.12.2012 ');

INSERT INTO "clients"  VALUES (53, 'Матвеев Любим Марсович', 'Россия, Сахалинская область,г. Теберда', date('1983-11-22'), 'Россия, Республика Тыва,клх Черский, пр. Декабристов, д. 2/1 к. 155, 035730', '48 08 166170, выдан ОВД г. Теберда,04.08.2006 ');

INSERT INTO "clients"  VALUES (54, 'Гусев Никита Александрович', 'Россия, Рязанская область,клх Балашов', date('1955-05-05'), 'Россия, Липецкая область,клх Каменск-Уральский, ш. Угловое, д. 362 стр. 571, 213871', '7928 272369, выдан ОВД клх Балашов,12.03.2026 ');

INSERT INTO "clients"  VALUES (55, 'Роман Эдуардович Носков', 'Россия, Хабаровский край,ст. Брянск', date('1996-12-14'), 'Россия, Курганская область,д. Агинское (Забайк.), алл. Тукая, д. 478, 502074', '1755 808635, выдан ОВД ст. Брянск,11.09.2025 ');

INSERT INTO "clients"  VALUES (56, 'Нестерова Марфа Аркадьевна', 'Россия, Нижегородская область,с. Ярославль', date('1992-02-18'), 'Россия, Республика Адыгея,с. Северобайкальск, пер. Курортный, д. 9 стр. 4, 942728', '45 65 381960, выдан ОВД с. Ярославль,29.11.2001 ');

INSERT INTO "clients"  VALUES (57, 'Галкина Зинаида Тимуровна', 'Россия, Республика Саха (Якутия),ст. Листвянка (Иркут.)', date('2002-08-25'), 'Россия, Тамбовская область,п. Тарко-Сале, пр. Спартака, д. 6, 055803', '33 52 790673, выдан ОВД ст. Листвянка (Иркут.),19.09.2011 ');

INSERT INTO "clients"  VALUES (58, 'Белоусова Евфросиния Борисовна', 'Россия, Свердловская область,с. Петрозаводск', date('1953-08-24'), 'Россия, Хабаровский край,клх Саратов, наб. Водопроводная, д. 877 стр. 482, 889969', '6101 664587, выдан ОВД с. Петрозаводск,04.02.2014 ');

INSERT INTO "clients"  VALUES (59, 'Мир Игнатович Королев', 'Россия, Магаданская область,к. Александровск-Сахалинский', date('1951-09-30'), 'Россия, Ульяновская область,клх Санкт-Петербург, ш. Заречное, д. 9/4 стр. 67, 121115', '28 20 204063, выдан ОВД к. Александровск-Сахалинский,06.01.2000 ');

INSERT INTO "clients"  VALUES (60, 'Матвеев Филимон Брониславович', 'Россия, Республика Бурятия,д. Орел', date('1950-03-28'), 'Россия, Приморский край,ст. Уфа, ш. Загородное, д. 70, 881008', '94 87 061100, выдан ОВД д. Орел,09.05.2013 ');

INSERT INTO "clients"  VALUES (61, 'Быкова Фаина Павловна', 'Россия, Магаданская область,ст. Адыгейск', date('1950-01-15'), 'Россия, Приморский край,п. Абакан, наб. Р.Люксембург, д. 3/8 стр. 192, 444242', '2914 052519, выдан ОВД ст. Адыгейск,21.08.2019 ');

INSERT INTO "clients"  VALUES (62, 'Пелагея Федоровна Данилова', 'Россия, Ульяновская область,п. Кош-Агач', date('2006-05-14'), 'Россия, Новгородская область,д. Луга, алл. Титова, д. 171 к. 284, 663361', '08 16 795946, выдан ОВД п. Кош-Агач,19.04.2009 ');

INSERT INTO "clients"  VALUES (63, 'Воронцов Панфил Владиленович', 'Россия, Ульяновская область,с. Мичуринск', date('1964-05-15'), 'Россия, Мурманская область,п. Краснокамск, ул. Седова, д. 8 к. 36, 814592', '25 35 199793, выдан ОВД с. Мичуринск,01.11.2024 ');

INSERT INTO "clients"  VALUES (64, 'Таисия Руслановна Гуляева', 'Россия, Томская область,клх Бавлы', date('1970-09-23'), 'Россия, Забайкальский край,клх Токма, ш. Осипенко, д. 837 к. 4, 123673', '9706 979861, выдан ОВД клх Бавлы,01.07.2008 ');

INSERT INTO "clients"  VALUES (65, 'Панфилова Марфа Игоревна', 'Россия, Республика Ингушетия,г. Нижний Новгород', date('1955-05-27'), 'Россия, Ненецкий автономный округ,с. Тотьма, пер. Черноморский, д. 9 к. 5, 018913', '00 06 187087, выдан ОВД г. Нижний Новгород,13.06.2000 ');

INSERT INTO "clients"  VALUES (66, 'Бобров Пантелеймон Арсенович', 'Россия, Свердловская область,к. Диксон', date('1986-07-15'), 'Россия, Оренбургская область,к. Плесецк, пер. Репина, д. 6/9, 903210', '3416 420831, выдан ОВД к. Диксон,06.10.2013 ');

INSERT INTO "clients"  VALUES (67, 'Сысоев Семен Венедиктович', 'Россия, Сахалинская область,п. Геленджик', date('1994-09-13'), 'Россия, Мурманская область,ст. Междуреченский, пр. Большевистский, д. 22 стр. 817, 434663', '5763 388631, выдан ОВД п. Геленджик,09.09.2015 ');

INSERT INTO "clients"  VALUES (68, 'Сафонова Марфа Архиповна', 'Россия, Воронежская область,п. Сухиничи', date('2000-11-21'), 'Россия, Амурская область,д. Хабаровск, бул. Дачный, д. 1 к. 49, 842288', '3265 601487, выдан ОВД п. Сухиничи,16.12.2010 ');

INSERT INTO "clients"  VALUES (69, 'Геннадий Дорофеевич Петров', 'Россия, Республика Бурятия,клх Липецк', date('1950-01-22'), 'Россия, Республика Калмыкия,д. Кизел, пер. Высокий, д. 79 стр. 9/1, 119892', '8188 572237, выдан ОВД клх Липецк,01.07.2023 ');

INSERT INTO "clients"  VALUES (70, 'г-н Марков Юлий Елизарович', 'Россия, Республика Дагестан,с. Тамбей', date('1982-09-07'), 'Россия, Саратовская область,клх Абинск, пр. Байкальский, д. 695 стр. 2, 226637', '0802 991797, выдан ОВД с. Тамбей,18.02.2011 ');

INSERT INTO "clients"  VALUES (71, 'Оксана Ниловна Муравьева', 'Россия, Курганская область,ст. Саранск', date('1962-06-29'), 'Россия, Курганская область,г. Егорьевск, пер. Саратовский, д. 1/2, 129855', '1443 396149, выдан ОВД ст. Саранск,01.10.2003 ');

INSERT INTO "clients"  VALUES (72, 'Феврония Антоновна Никонова', 'Россия, Орловская область,с. Павловский Посад', date('1993-03-29'), 'Россия, Республика Саха (Якутия),с. Онега, пер. Студенческий, д. 14 стр. 47, 961840', '8953 193457, выдан ОВД с. Павловский Посад,07.09.2013 ');

INSERT INTO "clients"  VALUES (73, 'Беляев Клавдий Евсеевич', 'Россия, Московская область,д. Лабытнанги', date('1962-09-07'), 'Россия, Еврейская автономная область,к. Уварово, ш. Приозерное, д. 17, 935285', '73 69 134002, выдан ОВД д. Лабытнанги,31.05.2024 ');

INSERT INTO "clients"  VALUES (74, 'г-н Мишин Флорентин Ярославович', 'Россия, Краснодарский край,г. Апатиты', date('1996-02-04'), 'Россия, Республика Крым,г. Верхнее Пенжино, пер. Черемушки, д. 42, 632317', '5994 559628, выдан ОВД г. Апатиты,25.01.2011 ');

INSERT INTO "clients"  VALUES (75, 'Беспалов Любомир Харлампович', 'Россия, Республика Татарстан,д. Минусинск', date('1954-06-18'), 'Россия, Республика Бурятия,д. Терней, алл. Камская, д. 27, 382258', '81 69 557951, выдан ОВД д. Минусинск,21.08.2014 ');

INSERT INTO "clients"  VALUES (76, 'Гурий Денисович Петров', 'Россия, Астраханская область,клх Ставрополь', date('2003-04-28'), 'Россия, Красноярский край,г. Киров (Вятка), ш. Просторное, д. 15 стр. 4, 184243', '95 82 080268, выдан ОВД клх Ставрополь,13.12.2009 ');

INSERT INTO "clients"  VALUES (77, 'Кондрат Давыдович Назаров', 'Россия, Республика Ингушетия,к. Чермоз', date('1952-03-03'), 'Россия, Республика Тыва,г. Забайкальск, пр. Приозерный, д. 59 к. 5, 611098', '7604 326917, выдан ОВД к. Чермоз,21.11.2016 ');

INSERT INTO "clients"  VALUES (78, 'Панова Ольга Сергеевна', 'Россия, Республика Алтай,к. Кизел', date('2005-12-07'), 'Россия, Воронежская область,д. Клин, пр. Одесский, д. 82, 868778', '3755 080480, выдан ОВД к. Кизел,25.08.2003 ');

INSERT INTO "clients"  VALUES (79, 'Лукия Афанасьевна Кириллова', 'Россия, Республика Ингушетия,г. Нефтеюганск', date('1957-01-04'), 'Россия, Республика Хакасия,п. Заводоуковск, наб. Донская, д. 5/5 к. 4, 624372', '20 54 932508, выдан ОВД г. Нефтеюганск,25.04.2013 ');


In [ ]:

# загрузка скрипата СКУЭЛЬ с иснертами
import sqlite3

with open('clients_for_sqlite.sql', 'r',encoding='utf-8') as sql_file:
    sql_script = sql_file.read()

db = sqlite3.connect('tasks.db')
cursor = db.cursor()
cursor.executescript(sql_script)

db.commit()
cursor.close()
db.close()

IntegrityError: UNIQUE constraint failed: clients.id

In [ ]:
# products=pd.read_csv('products_202601152202.csv')

In [50]:
products['product_type_id'][3]

np.int64(2)

In [57]:
anime['name'][0]

'Фаина Валентиновна Максимова'

In [110]:
table_name = 'products'
import datetime
# задаем столбцы таблицы
# column_names = ('id', 'date', 'address', 'price')
# задаем количество строк таблицы, которое хотим заполнить
k = 97
# product_type_id=random.choice((1,2,3))
products=pd.read_csv('products_202601152202.csv')
# product_type_id=random.choice((1,2,3))
items = {1: 'Кредистный договор с',2:'Депозитный договор с' ,3: 'Карточный договор с '}


anime = pd.read_csv('clients_NAME.csv')

# генерация и запись DML-скрипта в файл
filename = f'{table_name}2.sql' # формируем название выходного файла



second_product=random.sample(range(4,97), random.randint(30,50))
bingo_21_kard=random.sample(range(4,97), random.randint(2,5))

n=3
# для второго типа продука доп время
start_date2 = datetime.date(2024, 1, 12)
end_date2 = datetime.date(2025, 1, 12)


with open(filename, 'w', encoding='utf-8') as f: #открытие файла для записи
    # формируем строку с названиями столбцов
    # columns_str = ', '.join(f'"{column}"' for column in column_names)
    
    for i in range(k):
        
      # генерируем значения для каждого столбца
        # генерируем случайную дату в диапазоне
        product_type_id=random.choice((1,2,3))
        

        # items[product_type_id]
        # items = [('Кредистный договор с', 1), ('b', 2), ('c', 3)]

        # PRODUCT_TYPE_ID=products['product_type_id'][i+3] все типы продукт тайпов из продут таблицы
        PRODUCT_TYPE_ID=product_type_id

        # NAME_A=products['name'][i+3]  
        NAME=f"'{items[product_type_id]} {anime['name'][i]}'" # это для радномного продукта с именем из клиента


        # start_date = datetime.date(1950, 1, 1)
        # end_date = datetime.date(2008, 12, 31)
        # random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))

        

        
        # pas1=fake.passport_number()
        start_date1 = datetime.date(2015, 1, 1)
        end_date1 = datetime.date(2026, 1, 12)
        random_date1 = start_date1 + datetime.timedelta(days=random.randint(0, (end_date1 - start_date1).days))
        date=f"to_date('{random_date1.strftime('%d.%m.%Y')}','DD.MM.YYYY')"

        # дата взятая из продукта 
        # OPEN_D=products['open_data'][i+3]
        # rd=datetime.datetime.strptime(OPEN_D, "%Y-%m-%d").date()
        # OPEN_DATA=f"to_date('{rd.strftime('%d.%m.%Y')}','DD.MM.YYYY')"



        # date=f"date('{random_date1.strftime('%Y-%m-%d')}')"
        # date = random_date1.strftime('%d.%m.%Y')
        NULL='NULL'
        # PASPORT=f"'{pas1}, выдан ОВД {city},{date1} '"
        # формируем список со значениями
        CLIENT_RE=i+4
        n=n+1
        values = [n, PRODUCT_TYPE_ID,NAME, i+4,date,NULL]
        print(values)

        


        # формируем строку со значениями
        values_str = ', '.join(str(value) for value in values)
        
        # values_str_1 = ', '.join(str(values_1) for values_1 in values_1)
        # формируем и записываем DML-запрос в файл
        insert_query = f'INSERT INTO "{table_name}"  VALUES ({values_str});\n'
        
        print(insert_query) #вывод на консоль - для проверки и отладки
        f.write(insert_query) #запись в файл
        if i in second_product:
            # print('yes')
            random_date2=random_date1+datetime.timedelta(days=random.randint(0, (end_date2 - start_date2).days))
            date2=f"to_date('{random_date2.strftime('%d.%m.%Y')}','DD.MM.YYYY')"
            n=n+1


            product_type_id1=random.choice((1,2,3))
            PRODUCT_TYPE_ID1=product_type_id1
            NAME=f"'{items[product_type_id1]} {anime['name'][i]}'"


            values_1=[n,PRODUCT_TYPE_ID1,NAME,i+4,date2,NULL]
            # print(values_1)
            
            values_str_1 = ', '.join(str(values) for values in values_1)
            insert_query_1=f'INSERT INTO "{table_name}"  VALUES ({values_str_1});\n'
            # print(insert_query_1)
            f.write(insert_query_1)
        if i in bingo_21_kard:
            for b in range(random.randint(23,28)):
              n=n+1

              date_plus_days=random_date1+datetime.timedelta(days=random.randint(1,456))

              date3=f"to_date('{date_plus_days.strftime('%d.%m.%Y')}','DD.MM.YYYY')"

              NAME=f"'{items[3]} {anime['name'][i]}'"
                

              values_1=[n,3,NAME,i+4,date3,NULL]
            # print(values_1)
            
              values_str_1 = ', '.join(str(values_1) for values_1 in values_1)
              insert_query_1=f'INSERT INTO "{table_name}"  VALUES ({values_str_1});\n'
              # print(insert_query_1)
              f.write(insert_query_1)
                
        
          
            
    f.close() #закрытие файла

[4, 3, "'Карточный договор с  Фаина Валентиновна Максимова'", 4, "to_date('26.08.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (4, 3, 'Карточный договор с  Фаина Валентиновна Максимова', 4, to_date('26.08.2019','DD.MM.YYYY'), NULL);

[5, 3, "'Карточный договор с  Валерий Викторович Васильев'", 5, "to_date('27.09.2016','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (5, 3, 'Карточный договор с  Валерий Викторович Васильев', 5, to_date('27.09.2016','DD.MM.YYYY'), NULL);

[6, 1, "'Кредистный договор с Лаврентьев Влас Адамович'", 6, "to_date('24.10.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (6, 1, 'Кредистный договор с Лаврентьев Влас Адамович', 6, to_date('24.10.2021','DD.MM.YYYY'), NULL);

[7, 1, "'Кредистный договор с Шаров Герман Ефимьевич'", 7, "to_date('11.09.2020','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (7, 1, 'Кредистный договор с Шаров Герман Ефимьевич', 7, to_date('11.09.2020','DD.MM.YYYY'), NULL);

[8, 3, "'Карточный договор с  Блохина Екатерина Рубеновна'", 8, "to_date('29.06.2020','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (8, 3, 'Карточный договор с  Блохина Екатерина Рубеновна', 8, to_date('29.06.2020','DD.MM.YYYY'), NULL);

[10, 2, "'Депозитный договор с Туров Наум Ермилович'", 9, "to_date('29.11.2020','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (10, 2, 'Депозитный договор с Туров Наум Ермилович', 9, to_date('29.11.2020','DD.MM.YYYY'), NULL);

[12, 2, "'Депозитный договор с Никитин Артем Филатович'", 10, "to_date('26.02.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (12, 2, 'Депозитный договор с Никитин Артем Филатович', 10, to_date('26.02.2021','DD.MM.YYYY'), NULL);

[13, 1, "'Кредистный договор с Ларионова Валентина Андреевна'", 11, "to_date('06.11.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (13, 1, 'Кредистный договор с Ларионова Валентина Андреевна', 11, to_date('06.11.2022','DD.MM.YYYY'), NULL);

[15, 2, "'Депозитный договор с Морозова Агафья Матвеевна'", 12, "to_date('04.07.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (15, 2, 'Депозитный договор с Морозова Агафья Матвеевна', 12, to_date('04.07.2022','DD.MM.YYYY'), NULL);

[16, 1, "'Кредистный договор с Пахомов Агап Юльевич'", 13, "to_date('27.11.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (16, 1, 'Кредистный договор с Пахомов Агап Юльевич', 13, to_date('27.11.2017','DD.MM.YYYY'), NULL);

[17, 3, "'Карточный договор с  Фомина Анжела Юрьевна'", 14, "to_date('04.10.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (17, 3, 'Карточный договор с  Фомина Анжела Юрьевна', 14, to_date('04.10.2021','DD.MM.YYYY'), NULL);

[18, 2, "'Депозитный договор с Изяслав Устинович Сысоев'", 15, "to_date('10.04.2025','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (18, 2, 'Депозитный договор с Изяслав Устинович Сысоев', 15, to_date('10.04.2025','DD.MM.YYYY'), NULL);

[19, 1, "'Кредистный договор с Наркис Евстигнеевич Лаврентьев'", 16, "to_date('04.06.2020','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (19, 1, 'Кредистный договор с Наркис Евстигнеевич Лаврентьев', 16, to_date('04.06.2020','DD.MM.YYYY'), NULL);

[20, 1, "'Кредистный договор с Рожков Радислав Гертрудович'", 17, "to_date('18.05.2024','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (20, 1, 'Кредистный договор с Рожков Радислав Гертрудович', 17, to_date('18.05.2024','DD.MM.YYYY'), NULL);

[22, 2, "'Депозитный договор с Русаков Терентий Адамович'", 18, "to_date('11.01.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (22, 2, 'Депозитный договор с Русаков Терентий Адамович', 18, to_date('11.01.2019','DD.MM.YYYY'), NULL);

[23, 2, "'Депозитный договор с Исидор Всеволодович Орлов'", 19, "to_date('22.05.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (23, 2, 'Депозитный договор с Исидор Всеволодович Орлов', 19, to_date('22.05.2023','DD.MM.YYYY'), NULL);

[25, 2, "'Депозитный договор с Светлана Ильинична Блохина'", 20, "to_date('22.07.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (25, 2, 'Депозитный договор с Светлана Ильинична Блохина', 20, to_date('22.07.2022','DD.MM.YYYY'), NULL);

[50, 1, "'Кредистный договор с Владимир Иосипович Анисимов'", 21, "to_date('30.09.2025','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (50, 1, 'Кредистный договор с Владимир Иосипович Анисимов', 21, to_date('30.09.2025','DD.MM.YYYY'), NULL);

[51, 2, "'Депозитный договор с Суворова Регина Натановна'", 22, "to_date('01.05.2024','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (51, 2, 'Депозитный договор с Суворова Регина Натановна', 22, to_date('01.05.2024','DD.MM.YYYY'), NULL);

[52, 2, "'Депозитный договор с Лора Евгеньевна Яковлева'", 23, "to_date('04.02.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (52, 2, 'Депозитный договор с Лора Евгеньевна Яковлева', 23, to_date('04.02.2021','DD.MM.YYYY'), NULL);

[54, 2, "'Депозитный договор с Феврония Альбертовна Орехова'", 24, "to_date('14.07.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (54, 2, 'Депозитный договор с Феврония Альбертовна Орехова', 24, to_date('14.07.2022','DD.MM.YYYY'), NULL);

[55, 2, "'Депозитный договор с Жданов Пантелеймон Фокич'", 25, "to_date('05.10.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (55, 2, 'Депозитный договор с Жданов Пантелеймон Фокич', 25, to_date('05.10.2023','DD.MM.YYYY'), NULL);

[57, 3, "'Карточный договор с  Никифоров Христофор Вилорович'", 26, "to_date('04.05.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (57, 3, 'Карточный договор с  Никифоров Христофор Вилорович', 26, to_date('04.05.2019','DD.MM.YYYY'), NULL);

[59, 3, "'Карточный договор с  Харитонов Владислав Тимурович'", 27, "to_date('31.03.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (59, 3, 'Карточный договор с  Харитонов Владислав Тимурович', 27, to_date('31.03.2017','DD.MM.YYYY'), NULL);

[61, 1, "'Кредистный договор с Евдокия Вениаминовна Егорова'", 28, "to_date('27.01.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (61, 1, 'Кредистный договор с Евдокия Вениаминовна Егорова', 28, to_date('27.01.2019','DD.MM.YYYY'), NULL);

[63, 3, "'Карточный договор с  Ефремова Алевтина Андреевна'", 29, "to_date('24.10.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (63, 3, 'Карточный договор с  Ефремова Алевтина Андреевна', 29, to_date('24.10.2023','DD.MM.YYYY'), NULL);

[64, 2, "'Депозитный договор с Гордеева Кира Захаровна'", 30, "to_date('23.08.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (64, 2, 'Депозитный договор с Гордеева Кира Захаровна', 30, to_date('23.08.2023','DD.MM.YYYY'), NULL);

[65, 3, "'Карточный договор с  Гаврилова Василиса Ждановна'", 31, "to_date('28.01.2016','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (65, 3, 'Карточный договор с  Гаврилова Василиса Ждановна', 31, to_date('28.01.2016','DD.MM.YYYY'), NULL);

[66, 3, "'Карточный договор с  Воронов Сергей Елисеевич'", 32, "to_date('01.08.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (66, 3, 'Карточный договор с  Воронов Сергей Елисеевич', 32, to_date('01.08.2017','DD.MM.YYYY'), NULL);

[67, 1, "'Кредистный договор с Аверкий Антипович Васильев'", 33, "to_date('08.06.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (67, 1, 'Кредистный договор с Аверкий Антипович Васильев', 33, to_date('08.06.2021','DD.MM.YYYY'), NULL);

[69, 3, "'Карточный договор с  Гусев Евстигней Димитриевич'", 34, "to_date('15.03.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (69, 3, 'Карточный договор с  Гусев Евстигней Димитриевич', 34, to_date('15.03.2021','DD.MM.YYYY'), NULL);

[70, 3, "'Карточный договор с  Киселев Никодим Венедиктович'", 35, "to_date('16.08.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (70, 3, 'Карточный договор с  Киселев Никодим Венедиктович', 35, to_date('16.08.2022','DD.MM.YYYY'), NULL);

[71, 3, "'Карточный договор с  Казакова Ульяна Кирилловна'", 36, "to_date('28.01.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (71, 3, 'Карточный договор с  Казакова Ульяна Кирилловна', 36, to_date('28.01.2019','DD.MM.YYYY'), NULL);

[72, 3, "'Карточный договор с  Соловьева Вероника Ивановна'", 37, "to_date('20.02.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (72, 3, 'Карточный договор с  Соловьева Вероника Ивановна', 37, to_date('20.02.2023','DD.MM.YYYY'), NULL);

[74, 3, "'Карточный договор с  Богдан Ааронович Лобанов'", 38, "to_date('31.01.2018','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (74, 3, 'Карточный договор с  Богдан Ааронович Лобанов', 38, to_date('31.01.2018','DD.MM.YYYY'), NULL);

[76, 1, "'Кредистный договор с Ирина Алексеевна Сергеева'", 39, "to_date('07.01.2020','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (76, 1, 'Кредистный договор с Ирина Алексеевна Сергеева', 39, to_date('07.01.2020','DD.MM.YYYY'), NULL);

[77, 3, "'Карточный договор с  Воробьева Маргарита Дмитриевна'", 40, "to_date('10.02.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (77, 3, 'Карточный договор с  Воробьева Маргарита Дмитриевна', 40, to_date('10.02.2023','DD.MM.YYYY'), NULL);

[78, 2, "'Депозитный договор с Макарова Маргарита Олеговна'", 41, "to_date('04.02.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (78, 2, 'Депозитный договор с Макарова Маргарита Олеговна', 41, to_date('04.02.2017','DD.MM.YYYY'), NULL);

[79, 3, "'Карточный договор с  Дьячкова Глафира Афанасьевна'", 42, "to_date('10.03.2016','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (79, 3, 'Карточный договор с  Дьячкова Глафира Афанасьевна', 42, to_date('10.03.2016','DD.MM.YYYY'), NULL);

[80, 2, "'Депозитный договор с Копылова Нонна Львовна'", 43, "to_date('04.10.2015','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (80, 2, 'Депозитный договор с Копылова Нонна Львовна', 43, to_date('04.10.2015','DD.MM.YYYY'), NULL);

[81, 3, "'Карточный договор с  Горшков Владлен Архипович'", 44, "to_date('11.03.2024','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (81, 3, 'Карточный договор с  Горшков Владлен Архипович', 44, to_date('11.03.2024','DD.MM.YYYY'), NULL);

[82, 3, "'Карточный договор с  Зосима Жоресович Бобылев'", 45, "to_date('04.03.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (82, 3, 'Карточный договор с  Зосима Жоресович Бобылев', 45, to_date('04.03.2022','DD.MM.YYYY'), NULL);

[84, 2, "'Депозитный договор с Анастасия Львовна Гусева'", 46, "to_date('27.01.2015','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (84, 2, 'Депозитный договор с Анастасия Львовна Гусева', 46, to_date('27.01.2015','DD.MM.YYYY'), NULL);

[85, 1, "'Кредистный договор с Субботина Нинель Вячеславовна'", 47, "to_date('04.08.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (85, 1, 'Кредистный договор с Субботина Нинель Вячеславовна', 47, to_date('04.08.2017','DD.MM.YYYY'), NULL);

[86, 1, "'Кредистный договор с Соболев Дементий Тарасович'", 48, "to_date('26.06.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (86, 1, 'Кредистный договор с Соболев Дементий Тарасович', 48, to_date('26.06.2017','DD.MM.YYYY'), NULL);

[87, 3, "'Карточный договор с  Овчинников Игнатий Терентьевич'", 49, "to_date('16.12.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (87, 3, 'Карточный договор с  Овчинников Игнатий Терентьевич', 49, to_date('16.12.2017','DD.MM.YYYY'), NULL);

[88, 2, "'Депозитный договор с Александров Игнатий Брониславович'", 50, "to_date('11.10.2025','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (88, 2, 'Депозитный договор с Александров Игнатий Брониславович', 50, to_date('11.10.2025','DD.MM.YYYY'), NULL);

[89, 1, "'Кредистный договор с Виноградов Владлен Теймуразович'", 51, "to_date('22.12.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (89, 1, 'Кредистный договор с Виноградов Владлен Теймуразович', 51, to_date('22.12.2021','DD.MM.YYYY'), NULL);

[90, 1, "'Кредистный договор с Фомичева Милица Максимовна'", 52, "to_date('14.02.2018','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (90, 1, 'Кредистный договор с Фомичева Милица Максимовна', 52, to_date('14.02.2018','DD.MM.YYYY'), NULL);

[92, 3, "'Карточный договор с  Шестаков Георгий Яковлевич'", 53, "to_date('02.07.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (92, 3, 'Карточный договор с  Шестаков Георгий Яковлевич', 53, to_date('02.07.2019','DD.MM.YYYY'), NULL);

[94, 1, "'Кредистный договор с Влас Авдеевич Савельев'", 54, "to_date('12.10.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (94, 1, 'Кредистный договор с Влас Авдеевич Савельев', 54, to_date('12.10.2023','DD.MM.YYYY'), NULL);

[95, 1, "'Кредистный договор с Селиверстова Октябрина Эдуардовна'", 55, "to_date('04.03.2016','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (95, 1, 'Кредистный договор с Селиверстова Октябрина Эдуардовна', 55, to_date('04.03.2016','DD.MM.YYYY'), NULL);

[96, 2, "'Депозитный договор с Нина Николаевна Савина'", 56, "to_date('13.12.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (96, 2, 'Депозитный договор с Нина Николаевна Савина', 56, to_date('13.12.2017','DD.MM.YYYY'), NULL);

[97, 2, "'Депозитный договор с Лебедев Федот Якубович'", 57, "to_date('13.04.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (97, 2, 'Депозитный договор с Лебедев Федот Якубович', 57, to_date('13.04.2017','DD.MM.YYYY'), NULL);

[99, 3, "'Карточный договор с  Гостомысл Валентинович Пестов'", 58, "to_date('15.03.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (99, 3, 'Карточный договор с  Гостомысл Валентинович Пестов', 58, to_date('15.03.2019','DD.MM.YYYY'), NULL);

[100, 1, "'Кредистный договор с Петрова Лора Святославовна'", 59, "to_date('17.10.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (100, 1, 'Кредистный договор с Петрова Лора Святославовна', 59, to_date('17.10.2023','DD.MM.YYYY'), NULL);

[101, 2, "'Депозитный договор с Геннадий Ильясович Трофимов'", 60, "to_date('05.10.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (101, 2, 'Депозитный договор с Геннадий Ильясович Трофимов', 60, to_date('05.10.2023','DD.MM.YYYY'), NULL);

[103, 2, "'Депозитный договор с Полина Евгеньевна Соколова'", 61, "to_date('22.12.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (103, 2, 'Депозитный договор с Полина Евгеньевна Соколова', 61, to_date('22.12.2022','DD.MM.YYYY'), NULL);

[105, 3, "'Карточный договор с  Вера Георгиевна Наумова'", 62, "to_date('29.11.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (105, 3, 'Карточный договор с  Вера Георгиевна Наумова', 62, to_date('29.11.2019','DD.MM.YYYY'), NULL);

[106, 1, "'Кредистный договор с Савелий Андреевич Макаров'", 63, "to_date('05.07.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (106, 1, 'Кредистный договор с Савелий Андреевич Макаров', 63, to_date('05.07.2019','DD.MM.YYYY'), NULL);

[107, 3, "'Карточный договор с  Никитина Нина Леоновна'", 64, "to_date('22.02.2020','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (107, 3, 'Карточный договор с  Никитина Нина Леоновна', 64, to_date('22.02.2020','DD.MM.YYYY'), NULL);

[108, 1, "'Кредистный договор с Аверкий Теймуразович Тихонов'", 65, "to_date('18.03.2016','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (108, 1, 'Кредистный договор с Аверкий Теймуразович Тихонов', 65, to_date('18.03.2016','DD.MM.YYYY'), NULL);

[110, 3, "'Карточный договор с  Евгения Феликсовна Комиссарова'", 66, "to_date('02.04.2016','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (110, 3, 'Карточный договор с  Евгения Феликсовна Комиссарова', 66, to_date('02.04.2016','DD.MM.YYYY'), NULL);

[111, 2, "'Депозитный договор с Лучезар Марсович Соловьев'", 67, "to_date('16.02.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (111, 2, 'Депозитный договор с Лучезар Марсович Соловьев', 67, to_date('16.02.2019','DD.MM.YYYY'), NULL);

[112, 3, "'Карточный договор с  Яковлева Дарья Вадимовна'", 68, "to_date('25.10.2017','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (112, 3, 'Карточный договор с  Яковлева Дарья Вадимовна', 68, to_date('25.10.2017','DD.MM.YYYY'), NULL);

[113, 2, "'Депозитный договор с Феофан Теймуразович Игнатов'", 69, "to_date('16.02.2024','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (113, 2, 'Депозитный договор с Феофан Теймуразович Игнатов', 69, to_date('16.02.2024','DD.MM.YYYY'), NULL);

[114, 3, "'Карточный договор с  Журавлева Зинаида Юльевна'", 70, "to_date('01.08.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (114, 3, 'Карточный договор с  Журавлева Зинаида Юльевна', 70, to_date('01.08.2021','DD.MM.YYYY'), NULL);

[115, 2, "'Депозитный договор с Лаврентьева Ангелина Петровна'", 71, "to_date('04.02.2015','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (115, 2, 'Депозитный договор с Лаврентьева Ангелина Петровна', 71, to_date('04.02.2015','DD.MM.YYYY'), NULL);

[116, 3, "'Карточный договор с  Воронцова Варвара Аркадьевна'", 72, "to_date('29.12.2016','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (116, 3, 'Карточный договор с  Воронцова Варвара Аркадьевна', 72, to_date('29.12.2016','DD.MM.YYYY'), NULL);

[117, 1, "'Кредистный договор с тов. Ефремова Майя Ильинична'", 73, "to_date('27.12.2018','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (117, 1, 'Кредистный договор с тов. Ефремова Майя Ильинична', 73, to_date('27.12.2018','DD.MM.YYYY'), NULL);

[118, 2, "'Депозитный договор с Любовь Анатольевна Дементьева'", 74, "to_date('31.12.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (118, 2, 'Депозитный договор с Любовь Анатольевна Дементьева', 74, to_date('31.12.2019','DD.MM.YYYY'), NULL);

[119, 2, "'Депозитный договор с Ермил Викентьевич Андреев'", 75, "to_date('20.08.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (119, 2, 'Депозитный договор с Ермил Викентьевич Андреев', 75, to_date('20.08.2019','DD.MM.YYYY'), NULL);

[121, 3, "'Карточный договор с  Беспалов Дмитрий Филиппович'", 76, "to_date('19.01.2022','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (121, 3, 'Карточный договор с  Беспалов Дмитрий Филиппович', 76, to_date('19.01.2022','DD.MM.YYYY'), NULL);

[123, 1, "'Кредистный договор с Некрасов Роман Ермилович'", 77, "to_date('21.09.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (123, 1, 'Кредистный договор с Некрасов Роман Ермилович', 77, to_date('21.09.2021','DD.MM.YYYY'), NULL);

[124, 1, "'Кредистный договор с Одинцова Наталья Ниловна'", 78, "to_date('24.08.2021','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (124, 1, 'Кредистный договор с Одинцова Наталья Ниловна', 78, to_date('24.08.2021','DD.MM.YYYY'), NULL);

[126, 1, "'Кредистный договор с Виталий Исидорович Александров'", 79, "to_date('10.08.2018','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (126, 1, 'Кредистный договор с Виталий Исидорович Александров', 79, to_date('10.08.2018','DD.MM.YYYY'), NULL);

[127, 3, "'Карточный договор с  Анисимова Вера Егоровна'", 80, "to_date('07.12.2020','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (127, 3, 'Карточный договор с  Анисимова Вера Егоровна', 80, to_date('07.12.2020','DD.MM.YYYY'), NULL);

[128, 3, "'Карточный договор с  Мирослав Демьянович Борисов'", 81, "to_date('11.10.2019','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (128, 3, 'Карточный договор с  Мирослав Демьянович Борисов', 81, to_date('11.10.2019','DD.MM.YYYY'), NULL);

[129, 3, "'Карточный договор с  Евпраксия Артемовна Хохлова'", 82, "to_date('05.02.2025','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (129, 3, 'Карточный договор с  Евпраксия Артемовна Хохлова', 82, to_date('05.02.2025','DD.MM.YYYY'), NULL);

[131, 2, "'Депозитный договор с Ирина Дмитриевна Некрасова'", 83, "to_date('08.11.2023','DD.MM.YYYY')", 'NULL']
INSERT INTO "products"  VALUES (131, 2, 'Депозитный договор с Ирина Дмитриевна Некрасова', 83, to_date('08.11.2023','DD.MM.YYYY'), NULL);


In [17]:
random.randint(30,50)

41

In [74]:
random_date1+datetime.timedelta(days=100)

datetime.date(2018, 12, 28)

In [71]:
date

"to_date('19.09.2018','DD.MM.YYYY')"

In [69]:
date+datetime.timedelta(days=3)

TypeError: can only concatenate str (not "datetime.timedelta") to str

In [67]:
random_date1.strftime('%d.%m.%Y')

'19.09.2018'

In [65]:
date_plus_days.strftime('%d.%m.%Y')

AttributeError: 'str' object has no attribute 'strftime'

In [ ]:
start_date1 = datetime.date(2015, 1, 1)
end_date1 = datetime.date(2025, 1, 12)

start_date2 = datetime.date(2024, 1, 12)
end_date2 = datetime.date(2025, 1, 12)


random_date1 = start_date1 + datetime.timedelta(days=random.randint(0, (end_date1 - start_date1).days))
random_date2=random_date1+datetime.timedelta(days=random.randint(0, (end_date2 - start_date2).days))

In [43]:
random.randint(0, (end_date2 - start_date2).days)

201

In [56]:
datetime.timedelta(days=2)

datetime.timedelta(days=2)

In [28]:
(end_date1 - start_date1).days

4029

In [35]:
second_product=random.sample(range(4,97), random.randint(30,50))

In [35]:
items = {1: 'Кредистный договор с',2:'Депозитный договор с' ,3: 'Карточный договор с '}

In [42]:
product_type_id=random.choice((1,2,3))
items[product_type_id]

'Депозитный договор с'

In [5]:
k = len(products['id'])

In [6]:
k

138

In [20]:
table_name = 'accounts'
# для нахождения дублирующего клиента и добавления его
def find_indices(lst):
    indices = []
    for i in range(len(lst) - 1):
        if lst[i] == lst[i + 1]:
            indices.append(i)
    return indices


# ДАННЫЕ ИЗ СОПРЯЖЕННОЙ ТАБЛИЦЫ
products=pd.read_csv('products_202601172245.csv')
# Изначальные имена
anime = pd.read_csv('clients_NAME.csv')
# задаем столбцы таблицы
# column_names = ('id', 'date', 'address', 'price')
# задаем количество строк таблицы, которое хотим заполнить

# k = len(products['id'])
k=97

# product_type_id=random.choice((1,2,3))
product_type_id=random.choice((1,2,3))
items = {1: 'Кредитный счет с',2:'Депозитный счет с' ,3: 'Карточный счет с '}
# items[product_type_id]

# ДАННЫЕ ИЗ СОПРЯЖЕННОЙ ТАБЛИЦЫ

vnes_iter=-1
vnutr_iter=0

# генерация и запись DML-скрипта в файл
filename = f'{table_name}.sql' # формируем название выходного файла
with open(filename, 'w', encoding='utf-8') as f: #открытие файла для записи
    # формируем строку с названиями столбцов
    # columns_str = ', '.join(f'"{column}"' for column in column_names)
    for i in range(k):
        vnes_iter=vnes_iter+1

        print(i,vnes_iter,vnutr_iter)

        # print(i,k)
      # генерируем значения для каждого столбца
        # генерируем случайную дату в диапазоне
        # product_type_id=random.choice((1,2,3))
        
        # items[product_type_id]
        # items = [('Кредистный договор с', 1), ('b', 2), ('c', 3)]
        # anime['name']
        # NAME=f"'{items[product_type_id]} {all_name[i][0]}'"


        # start_date = datetime.date(1950, 1, 1)
        # end_date = datetime.date(2008, 12, 31)
        # random_date = start_date + datetime.timedelta(days=random.randint(0, (end_date - start_date).days))

        
        # Oblast=random.choice(regions_all)
        # city=fake.city()
        # PLACE_OF_BIRTH=f"'Россия, {Oblast},{city}'"
        # PLACE_OF_BIRTH=fake.city()
        # преобразуем дату в строку в формате "год-месяц-день"
        #для строковых значений обязательно f"'{}'"
        # DATE_OF_BIRTH = f"to_date('{random_date.strftime('%d.%m.%Y')}','DD.MM.YYYY')"
        # Oblast1=random.choice(regions_all)
        #генерируем случайное значение адреса
        # ADRESS=f"'Россия, {Oblast1},{fake.address()}'" 
        #генерируем для суммы денег за доставку случайное вещественное число от 0 до 1000 с двумя знаками после запятой  
        # price=round(fake.pyfloat(right_digits=2, min_value=0, max_value=1000), 2) 
        # pas1=
        
        # pas1=fake.passport_number()
        # start_date1 = datetime.date(2015, 1, 1)
        # end_date1 = datetime.date(2026, 1, 12)
        # random_date1 = start_date1 + datetime.timedelta(days=random.randint(0, (end_date1 - start_date1).days))
        CLIENT_REF=i+4
        OPEN_D=products['open_data'][i]
        rd=datetime.datetime.strptime(OPEN_D, "%Y-%m-%d").date()
        OPEN_DATA=f"to_date('{rd.strftime('%d.%m.%Y')}','DD.MM.YYYY')"
        # date=f"date('{random_date1.strftime('%Y-%m-%d')}')"
        # date = random_date1.strftime('%d.%m.%Y')
        CLOSE_DATE='NULL'
        # PASPORT=f"'{pas1}, выдан ОВД {city},{date1} '"
        # формируем список со значениями
        PRODUCT_REF=products['product_type_id'][i]
        generate_saldo=random.randrange(1000,100000,1000)
        if PRODUCT_REF==1:

          SALDO=-generate_saldo
        else:
           SALDO=generate_saldo
        
        NAME=f"'{items[PRODUCT_REF]} {anime['name'][i]}'"
        # print(NAME)

        ACC_NUM=fake.checking_account()
        #   
        values = [i+4,NAME,SALDO,CLIENT_REF, OPEN_DATA,CLOSE_DATE,PRODUCT_REF,ACC_NUM]
        # 
        # формируем строку со значениями
        # 
        values_str = ', '.join(str(value) for value in values)
        # формируем и записываем DML-запрос в файл
        insert_query = f'INSERT INTO "{table_name}"  VALUES ({values_str});\n'
        # print(i,i+1)
        if find_indices(products['client_ref'])[vnutr_iter]==vnes_iter:
          vnutr_iter=vnutr_iter+1

          # print(products['client_ref'][i])
          # print(i+1,i)
          # NAME1=f"'{items[products['product_type_id'][i]]} {anime['name'][i]}'"
          # values1 = [i+4,NAME1,SALDO,CLIENT_REF, OPEN_DATA,CLOSE_DATE,PRODUCT_REF,ACC_NUM]
          # values_str1 = ', '.join(str(value) for value in values1)
          # insert_query1 = f'INSERT INTO "{table_name}"  VALUES ({values_str1});\n'
          # print(insert_query1)
          print('A',insert_query)
          f.write(insert_query)   
          
        print(products['client_ref'][i])
        print(insert_query) #вывод на консоль - для проверки и отладки
        f.write(insert_query) #запись в файл
    f.close() #закрытие файла

0 0 0
4
INSERT INTO "accounts"  VALUES (4, 'Депозитный счет с Фаина Валентиновна Максимова', 50000, 4, to_date('17.07.2019','DD.MM.YYYY'), NULL, 2, 32104934525353768446);

1 1 0
5
INSERT INTO "accounts"  VALUES (5, 'Карточный счет с  Валерий Викторович Васильев', 52000, 5, to_date('23.09.2016','DD.MM.YYYY'), NULL, 3, 31803776209306273725);

2 2 0
6
INSERT INTO "accounts"  VALUES (6, 'Кредитный счет с Лаврентьев Влас Адамович', -92000, 6, to_date('22.05.2017','DD.MM.YYYY'), NULL, 1, 42202760528375982060);

3 3 0
7
INSERT INTO "accounts"  VALUES (7, 'Депозитный счет с Шаров Герман Ефимьевич', 41000, 7, to_date('07.07.2018','DD.MM.YYYY'), NULL, 2, 30304496770120330361);

4 4 0
A INSERT INTO "accounts"  VALUES (8, 'Депозитный счет с Блохина Екатерина Рубеновна', 40000, 8, to_date('18.10.2017','DD.MM.YYYY'), NULL, 2, 42203170532813240251);

8
INSERT INTO "accounts"  VALUES (8, 'Депозитный счет с Блохина Екатерина Рубеновна', 40000, 8, to_date('18.10.2017','DD.MM.YYYY'), NULL, 2, 42203170532813240251);

5 5 1
8
INSERT INTO "accounts"  VALUES (9, 'Карточный счет с  Туров Наум Ермилович', 73000, 9, to_date('11.07.2018','DD.MM.YYYY'), NULL, 3, 32004702748915361937);

6 6 1
9
INSERT INTO "accounts"  VALUES (10, 'Карточный счет с  Никитин Артем Филатович', 13000, 10, to_date('09.02.2025','DD.MM.YYYY'), NULL, 3, 30502090122159468698);

7 7 1
A INSERT INTO "accounts"  VALUES (11, 'Депозитный счет с Ларионова Валентина Андреевна', 7000, 11, to_date('21.06.2020','DD.MM.YYYY'), NULL, 2, 40604949552846866806);

10
INSERT INTO "accounts"  VALUES (11, 'Депозитный счет с Ларионова Валентина Андреевна', 7000, 11, to_date('21.06.2020','DD.MM.YYYY'), NULL, 2, 40604949552846866806);

8 8 2
10
INSERT INTO "accounts"  VALUES (12, 'Карточный счет с  Морозова Агафья Матвеевна', 15000, 12, to_date('21.11.2020','DD.MM.YYYY'), NULL, 3, 51404860433413803221);

9 9 2
11
INSERT INTO "accounts"  VALUES (13, 'Кредитный счет с Пахомов Агап Юльевич', -15000, 13, to_date('29.02.2016','DD.MM.YYYY'), NULL, 1, 50203454636147230118);

10 10 2
12
INSERT INTO "accounts"  VALUES (14, 'Карточный счет с  Фомина Анжела Юрьевна', 10000, 14, to_date('10.03.2019','DD.MM.YYYY'), NULL, 3, 40704188053481631659);

11 11 2
A INSERT INTO "accounts"  VALUES (15, 'Карточный счет с  Изяслав Устинович Сысоев', 33000, 15, to_date('24.01.2021','DD.MM.YYYY'), NULL, 3, 10601886010219849102);

13
INSERT INTO "accounts"  VALUES (15, 'Карточный счет с  Изяслав Устинович Сысоев', 33000, 15, to_date('24.01.2021','DD.MM.YYYY'), NULL, 3, 10601886010219849102);

12 12 3
13
INSERT INTO "accounts"  VALUES (16, 'Карточный счет с  Наркис Евстигнеевич Лаврентьев', 50000, 16, to_date('22.04.2021','DD.MM.YYYY'), NULL, 3, 10902944705632030723);

13 13 3
14
INSERT INTO "accounts"  VALUES (17, 'Кредитный счет с Рожков Радислав Гертрудович', -83000, 17, to_date('07.06.2020','DD.MM.YYYY'), NULL, 1, 30601400414718354514);

14 14 3
A INSERT INTO "accounts"  VALUES (18, 'Карточный счет с  Русаков Терентий Адамович', 48000, 18, to_date('31.05.2019','DD.MM.YYYY'), NULL, 3, 31204152931548502775);

15
INSERT INTO "accounts"  VALUES (18, 'Карточный счет с  Русаков Терентий Адамович', 48000, 18, to_date('31.05.2019','DD.MM.YYYY'), NULL, 3, 31204152931548502775);

15 15 4
15
INSERT INTO "accounts"  VALUES (19, 'Карточный счет с  Исидор Всеволодович Орлов', 64000, 19, to_date('18.04.2020','DD.MM.YYYY'), NULL, 3, 31503418250923222768);

16 16 4
16
INSERT INTO "accounts"  VALUES (20, 'Кредитный счет с Светлана Ильинична Блохина', -95000, 20, to_date('07.03.2025','DD.MM.YYYY'), NULL, 1, 51104600376119612850);

17 17 4
17
INSERT INTO "accounts"  VALUES (21, 'Кредитный счет с Владимир Иосипович Анисимов', -95000, 21, to_date('15.10.2015','DD.MM.YYYY'), NULL, 1, 51701951017404599130);

18 18 4
A INSERT INTO "accounts"  VALUES (22, 'Карточный счет с  Суворова Регина Натановна', 70000, 22, to_date('05.10.2023','DD.MM.YYYY'), NULL, 3, 52001940410972657318);

18
INSERT INTO "accounts"  VALUES (22, 'Карточный счет с  Суворова Регина Натановна', 70000, 22, to_date('05.10.2023','DD.MM.YYYY'), NULL, 3, 52001940410972657318);

19 19 5
18
INSERT INTO "accounts"  VALUES (23, 'Карточный счет с  Лора Евгеньевна Яковлева', 1000, 23, to_date('01.09.2024','DD.MM.YYYY'), NULL, 3, 43002970145105825926);

20 20 5
A INSERT INTO "accounts"  VALUES (24, 'Кредитный счет с Феврония Альбертовна Орехова', -95000, 24, to_date('11.06.2019','DD.MM.YYYY'), NULL, 1, 52601953920007076386);

19
INSERT INTO "accounts"  VALUES (24, 'Кредитный счет с Феврония Альбертовна Орехова', -95000, 24, to_date('11.06.2019','DD.MM.YYYY'), NULL, 1, 52601953920007076386);

21 21 6
19
INSERT INTO "accounts"  VALUES (25, 'Карточный счет с  Жданов Пантелеймон Фокич', 13000, 25, to_date('10.03.2020','DD.MM.YYYY'), NULL, 3, 31001116070106735448);

22 22 6
20
INSERT INTO "accounts"  VALUES (26, 'Кредитный счет с Никифоров Христофор Вилорович', -47000, 26, to_date('19.04.2025','DD.MM.YYYY'), NULL, 1, 10202214725674837401);

23 23 6
21
INSERT INTO "accounts"  VALUES (27, 'Кредитный счет с Харитонов Владислав Тимурович', -24000, 27, to_date('23.04.2018','DD.MM.YYYY'), NULL, 1, 50204356817958121980);

24 24 6
22
INSERT INTO "accounts"  VALUES (28, 'Кредитный счет с Евдокия Вениаминовна Егорова', -40000, 28, to_date('01.11.2017','DD.MM.YYYY'), NULL, 1, 32801959535035673851);

25 25 6
23
INSERT INTO "accounts"  VALUES (29, 'Карточный счет с  Ефремова Алевтина Андреевна', 99000, 29, to_date('25.11.2015','DD.MM.YYYY'), NULL, 3, 51703946475454308006);

26 26 6
24
INSERT INTO "accounts"  VALUES (30, 'Карточный счет с  Гордеева Кира Захаровна', 50000, 30, to_date('26.07.2015','DD.MM.YYYY'), NULL, 3, 30101950508422953095);

27 27 6
25
INSERT INTO "accounts"  VALUES (31, 'Карточный счет с  Гаврилова Василиса Ждановна', 78000, 31, to_date('04.11.2015','DD.MM.YYYY'), NULL, 3, 50804328669842614647);

28 28 6
26
INSERT INTO "accounts"  VALUES (32, 'Депозитный счет с Воронов Сергей Елисеевич', 33000, 32, to_date('31.03.2016','DD.MM.YYYY'), NULL, 2, 40204858360074334614);

29 29 6
27
INSERT INTO "accounts"  VALUES (33, 'Карточный счет с  Аверкий Антипович Васильев', 44000, 33, to_date('19.01.2025','DD.MM.YYYY'), NULL, 3, 41301938047804069151);

30 30 6
A INSERT INTO "accounts"  VALUES (34, 'Карточный счет с  Гусев Евстигней Димитриевич', 45000, 34, to_date('15.06.2015','DD.MM.YYYY'), NULL, 3, 40701858918412664937);

28
INSERT INTO "accounts"  VALUES (34, 'Карточный счет с  Гусев Евстигней Димитриевич', 45000, 34, to_date('15.06.2015','DD.MM.YYYY'), NULL, 3, 40701858918412664937);

31 31 7
28
INSERT INTO "accounts"  VALUES (35, 'Карточный счет с  Киселев Никодим Венедиктович', 81000, 35, to_date('22.10.2015','DD.MM.YYYY'), NULL, 3, 32004270790454855104);

32 32 7
29
INSERT INTO "accounts"  VALUES (36, 'Кредитный счет с Казакова Ульяна Кирилловна', -28000, 36, to_date('26.01.2015','DD.MM.YYYY'), NULL, 1, 32502931345112117714);

33 33 7
30
INSERT INTO "accounts"  VALUES (37, 'Карточный счет с  Соловьева Вероника Ивановна', 79000, 37, to_date('06.06.2022','DD.MM.YYYY'), NULL, 3, 42503328233882796499);

34 34 7
31
INSERT INTO "accounts"  VALUES (38, 'Депозитный счет с Богдан Ааронович Лобанов', 75000, 38, to_date('16.06.2020','DD.MM.YYYY'), NULL, 2, 52102516116045994596);

35 35 7
32
INSERT INTO "accounts"  VALUES (39, 'Депозитный счет с Ирина Алексеевна Сергеева', 93000, 39, to_date('26.12.2025','DD.MM.YYYY'), NULL, 2, 10301678530393277045);

36 36 7
33
INSERT INTO "accounts"  VALUES (40, 'Кредитный счет с Воробьева Маргарита Дмитриевна', -73000, 40, to_date('04.01.2017','DD.MM.YYYY'), NULL, 1, 40102748602974955735);

37 37 7
A INSERT INTO "accounts"  VALUES (41, 'Кредитный счет с Макарова Маргарита Олеговна', -21000, 41, to_date('05.11.2015','DD.MM.YYYY'), NULL, 1, 20301952014639746817);

34
INSERT INTO "accounts"  VALUES (41, 'Кредитный счет с Макарова Маргарита Олеговна', -21000, 41, to_date('05.11.2015','DD.MM.YYYY'), NULL, 1, 20301952014639746817);

38 38 8
34
INSERT INTO "accounts"  VALUES (42, 'Кредитный счет с Дьячкова Глафира Афанасьевна', -50000, 42, to_date('03.10.2016','DD.MM.YYYY'), NULL, 1, 41404214303303875229);

39 39 8
A INSERT INTO "accounts"  VALUES (43, 'Карточный счет с  Копылова Нонна Львовна', 16000, 43, to_date('04.07.2015','DD.MM.YYYY'), NULL, 3, 30904174569793169415);

35
INSERT INTO "accounts"  VALUES (43, 'Карточный счет с  Копылова Нонна Львовна', 16000, 43, to_date('04.07.2015','DD.MM.YYYY'), NULL, 3, 30904174569793169415);

40 40 9
35
INSERT INTO "accounts"  VALUES (44, 'Кредитный счет с Горшков Владлен Архипович', -71000, 44, to_date('08.11.2015','DD.MM.YYYY'), NULL, 1, 42404933983443533669);

41 41 9
36
INSERT INTO "accounts"  VALUES (45, 'Депозитный счет с Зосима Жоресович Бобылев', 17000, 45, to_date('15.04.2023','DD.MM.YYYY'), NULL, 2, 31602646989124915958);

42 42 9
37
INSERT INTO "accounts"  VALUES (46, 'Карточный счет с  Анастасия Львовна Гусева', 19000, 46, to_date('25.09.2020','DD.MM.YYYY'), NULL, 3, 30404608758634229010);

43 43 9
38
INSERT INTO "accounts"  VALUES (47, 'Карточный счет с  Субботина Нинель Вячеславовна', 79000, 47, to_date('19.05.2021','DD.MM.YYYY'), NULL, 3, 31404998855095830543);

44 44 9
A INSERT INTO "accounts"  VALUES (48, 'Депозитный счет с Соболев Дементий Тарасович', 10000, 48, to_date('07.10.2017','DD.MM.YYYY'), NULL, 2, 40403090191609838125);

39
INSERT INTO "accounts"  VALUES (48, 'Депозитный счет с Соболев Дементий Тарасович', 10000, 48, to_date('07.10.2017','DD.MM.YYYY'), NULL, 2, 40403090191609838125);

45 45 10
39
INSERT INTO "accounts"  VALUES (49, 'Депозитный счет с Овчинников Игнатий Терентьевич', 25000, 49, to_date('27.10.2017','DD.MM.YYYY'), NULL, 2, 30104132798110550460);

46 46 10
A INSERT INTO "accounts"  VALUES (50, 'Депозитный счет с Александров Игнатий Брониславович', 68000, 50, to_date('25.11.2021','DD.MM.YYYY'), NULL, 2, 32302270676971093022);

40
INSERT INTO "accounts"  VALUES (50, 'Депозитный счет с Александров Игнатий Брониславович', 68000, 50, to_date('25.11.2021','DD.MM.YYYY'), NULL, 2, 32302270676971093022);

47 47 11
40
INSERT INTO "accounts"  VALUES (51, 'Депозитный счет с Виноградов Владлен Теймуразович', 83000, 51, to_date('26.03.2022','DD.MM.YYYY'), NULL, 2, 40103084445469040760);

48 48 11
A INSERT INTO "accounts"  VALUES (52, 'Депозитный счет с Фомичева Милица Максимовна', 81000, 52, to_date('09.06.2020','DD.MM.YYYY'), NULL, 2, 52202784377782324634);

41
INSERT INTO "accounts"  VALUES (52, 'Депозитный счет с Фомичева Милица Максимовна', 81000, 52, to_date('09.06.2020','DD.MM.YYYY'), NULL, 2, 52202784377782324634);

49 49 12
41
INSERT INTO "accounts"  VALUES (53, 'Карточный счет с  Шестаков Георгий Яковлевич', 19000, 53, to_date('31.03.2021','DD.MM.YYYY'), NULL, 3, 50504124769469646854);

50 50 12
42
INSERT INTO "accounts"  VALUES (54, 'Кредитный счет с Влас Авдеевич Савельев', -74000, 54, to_date('06.08.2019','DD.MM.YYYY'), NULL, 1, 52003756652607554655);

51 51 12
43
INSERT INTO "accounts"  VALUES (55, 'Депозитный счет с Селиверстова Октябрина Эдуардовна', 40000, 55, to_date('26.10.2022','DD.MM.YYYY'), NULL, 2, 32802533085873571594);

52 52 12
44
INSERT INTO "accounts"  VALUES (56, 'Депозитный счет с Нина Николаевна Савина', 22000, 56, to_date('11.06.2023','DD.MM.YYYY'), NULL, 2, 51404340764100501279);

53 53 12
A INSERT INTO "accounts"  VALUES (57, 'Карточный счет с  Лебедев Федот Якубович', 53000, 57, to_date('20.09.2017','DD.MM.YYYY'), NULL, 3, 50103188398260558299);

45
INSERT INTO "accounts"  VALUES (57, 'Карточный счет с  Лебедев Федот Якубович', 53000, 57, to_date('20.09.2017','DD.MM.YYYY'), NULL, 3, 50103188398260558299);

54 54 13
45
INSERT INTO "accounts"  VALUES (58, 'Кредитный счет с Гостомысл Валентинович Пестов', -41000, 58, to_date('18.04.2018','DD.MM.YYYY'), NULL, 1, 41402936823354213881);

55 55 13
A INSERT INTO "accounts"  VALUES (59, 'Карточный счет с  Петрова Лора Святославовна', 38000, 59, to_date('20.09.2015','DD.MM.YYYY'), NULL, 3, 32703968801063058489);

46
INSERT INTO "accounts"  VALUES (59, 'Карточный счет с  Петрова Лора Святославовна', 38000, 59, to_date('20.09.2015','DD.MM.YYYY'), NULL, 3, 32703968801063058489);

56 56 14
46
INSERT INTO "accounts"  VALUES (60, 'Карточный счет с  Геннадий Ильясович Трофимов', 96000, 60, to_date('11.11.2015','DD.MM.YYYY'), NULL, 3, 52303324286344290125);

57 57 14
A INSERT INTO "accounts"  VALUES (61, 'Кредитный счет с Полина Евгеньевна Соколова', -99000, 61, to_date('15.04.2022','DD.MM.YYYY'), NULL, 1, 52602943935288455986);

47
INSERT INTO "accounts"  VALUES (61, 'Кредитный счет с Полина Евгеньевна Соколова', -99000, 61, to_date('15.04.2022','DD.MM.YYYY'), NULL, 1, 52602943935288455986);

58 58 15
47
INSERT INTO "accounts"  VALUES (62, 'Кредитный счет с Вера Георгиевна Наумова', -55000, 62, to_date('10.12.2022','DD.MM.YYYY'), NULL, 1, 52401090110584212543);

59 59 15
48
INSERT INTO "accounts"  VALUES (63, 'Кредитный счет с Савелий Андреевич Макаров', -98000, 63, to_date('06.08.2024','DD.MM.YYYY'), NULL, 1, 51502270025694718853);

60 60 15
49
INSERT INTO "accounts"  VALUES (64, 'Депозитный счет с Никитина Нина Леоновна', 28000, 64, to_date('10.08.2016','DD.MM.YYYY'), NULL, 2, 31704646267902214966);

61 61 15
50
INSERT INTO "accounts"  VALUES (65, 'Карточный счет с  Аверкий Теймуразович Тихонов', 1000, 65, to_date('25.01.2023','DD.MM.YYYY'), NULL, 3, 31304948845188151038);

62 62 15
51
INSERT INTO "accounts"  VALUES (66, 'Кредитный счет с Евгения Феликсовна Комиссарова', -47000, 66, to_date('20.03.2020','DD.MM.YYYY'), NULL, 1, 51103728336918033325);

63 63 15
A INSERT INTO "accounts"  VALUES (67, 'Кредитный счет с Лучезар Марсович Соловьев', -10000, 67, to_date('26.09.2025','DD.MM.YYYY'), NULL, 1, 41201292665511416589);

52
INSERT INTO "accounts"  VALUES (67, 'Кредитный счет с Лучезар Марсович Соловьев', -10000, 67, to_date('26.09.2025','DD.MM.YYYY'), NULL, 1, 41201292665511416589);

64 64 16
52
INSERT INTO "accounts"  VALUES (68, 'Кредитный счет с Яковлева Дарья Вадимовна', -39000, 68, to_date('26.07.2026','DD.MM.YYYY'), NULL, 1, 51001931619815830897);

65 65 16
53
INSERT INTO "accounts"  VALUES (69, 'Карточный счет с  Феофан Теймуразович Игнатов', 93000, 69, to_date('26.12.2022','DD.MM.YYYY'), NULL, 3, 42403943605419627341);

66 66 16
A INSERT INTO "accounts"  VALUES (70, 'Депозитный счет с Журавлева Зинаида Юльевна', 88000, 70, to_date('05.03.2017','DD.MM.YYYY'), NULL, 2, 40501970690172088052);

54
INSERT INTO "accounts"  VALUES (70, 'Депозитный счет с Журавлева Зинаида Юльевна', 88000, 70, to_date('05.03.2017','DD.MM.YYYY'), NULL, 2, 40501970690172088052);

67 67 17
54
INSERT INTO "accounts"  VALUES (71, 'Карточный счет с  Лаврентьева Ангелина Петровна', 91000, 71, to_date('18.10.2017','DD.MM.YYYY'), NULL, 3, 40603654513873496879);

68 68 17
55
INSERT INTO "accounts"  VALUES (72, 'Депозитный счет с Воронцова Варвара Аркадьевна', 60000, 72, to_date('13.05.2024','DD.MM.YYYY'), NULL, 2, 52204784242925826189);

69 69 17
A INSERT INTO "accounts"  VALUES (73, 'Кредитный счет с тов. Ефремова Майя Ильинична', -91000, 73, to_date('01.04.2019','DD.MM.YYYY'), NULL, 1, 40801230128218728896);

56
INSERT INTO "accounts"  VALUES (73, 'Кредитный счет с тов. Ефремова Майя Ильинична', -91000, 73, to_date('01.04.2019','DD.MM.YYYY'), NULL, 1, 40801230128218728896);

70 70 18
56
INSERT INTO "accounts"  VALUES (74, 'Депозитный счет с Любовь Анатольевна Дементьева', 83000, 74, to_date('19.07.2019','DD.MM.YYYY'), NULL, 2, 42004959301084429233);

71 71 18
A INSERT INTO "accounts"  VALUES (75, 'Кредитный счет с Ермил Викентьевич Андреев', -63000, 75, to_date('27.03.2023','DD.MM.YYYY'), NULL, 1, 10304398946201501687);

57
INSERT INTO "accounts"  VALUES (75, 'Кредитный счет с Ермил Викентьевич Андреев', -63000, 75, to_date('27.03.2023','DD.MM.YYYY'), NULL, 1, 10304398946201501687);

72 72 19
57
INSERT INTO "accounts"  VALUES (76, 'Карточный счет с  Беспалов Дмитрий Филиппович', 8000, 76, to_date('02.04.2023','DD.MM.YYYY'), NULL, 3, 20301953202812440935);

73 73 19
58
INSERT INTO "accounts"  VALUES (77, 'Кредитный счет с Некрасов Роман Ермилович', -89000, 77, to_date('03.07.2017','DD.MM.YYYY'), NULL, 1, 30204960067782264016);

74 74 19
59
INSERT INTO "accounts"  VALUES (78, 'Карточный счет с  Одинцова Наталья Ниловна', 27000, 78, to_date('02.10.2021','DD.MM.YYYY'), NULL, 3, 40702554788205598666);

75 75 19
60
INSERT INTO "accounts"  VALUES (79, 'Депозитный счет с Виталий Исидорович Александров', 57000, 79, to_date('17.07.2022','DD.MM.YYYY'), NULL, 2, 10901478213946197370);

76 76 19
61
INSERT INTO "accounts"  VALUES (80, 'Карточный счет с  Анисимова Вера Егоровна', 44000, 80, to_date('16.08.2020','DD.MM.YYYY'), NULL, 3, 32703970845954048522);

77 77 19
A INSERT INTO "accounts"  VALUES (81, 'Кредитный счет с Мирослав Демьянович Борисов', -44000, 81, to_date('29.05.2020','DD.MM.YYYY'), NULL, 1, 50601262505036965369);

62
INSERT INTO "accounts"  VALUES (81, 'Кредитный счет с Мирослав Демьянович Борисов', -44000, 81, to_date('29.05.2020','DD.MM.YYYY'), NULL, 1, 50601262505036965369);

78 78 20
62
INSERT INTO "accounts"  VALUES (82, 'Карточный счет с  Евпраксия Артемовна Хохлова', 75000, 82, to_date('10.09.2020','DD.MM.YYYY'), NULL, 3, 32602971758060823865);

79 79 20
63
INSERT INTO "accounts"  VALUES (83, 'Карточный счет с  Ирина Дмитриевна Некрасова', 42000, 83, to_date('03.03.2017','DD.MM.YYYY'), NULL, 3, 51601008423036887460);

80 80 20
64
INSERT INTO "accounts"  VALUES (84, 'Депозитный счет с Сигизмунд Фомич Григорьев', 83000, 84, to_date('03.01.2015','DD.MM.YYYY'), NULL, 2, 31904048123843964943);

81 81 20
65
INSERT INTO "accounts"  VALUES (85, 'Карточный счет с  Шестаков Филимон Исидорович', 2000, 85, to_date('07.03.2017','DD.MM.YYYY'), NULL, 3, 50501932747844821912);

82 82 20
A INSERT INTO "accounts"  VALUES (86, 'Депозитный счет с Владлен Данилович Алексеев', 72000, 86, to_date('27.03.2023','DD.MM.YYYY'), NULL, 2, 50501961675228210490);

66
INSERT INTO "accounts"  VALUES (86, 'Депозитный счет с Владлен Данилович Алексеев', 72000, 86, to_date('27.03.2023','DD.MM.YYYY'), NULL, 2, 50501961675228210490);

83 83 21
66
INSERT INTO "accounts"  VALUES (87, 'Депозитный счет с Дорофей Антонович Пономарев', 88000, 87, to_date('05.10.2023','DD.MM.YYYY'), NULL, 2, 31703332274658423234);

84 84 21
A INSERT INTO "accounts"  VALUES (88, 'Карточный счет с  Фома Авдеевич Меркушев', 33000, 88, to_date('21.05.2025','DD.MM.YYYY'), NULL, 3, 30401818104595457369);

67
INSERT INTO "accounts"  VALUES (88, 'Карточный счет с  Фома Авдеевич Меркушев', 33000, 88, to_date('21.05.2025','DD.MM.YYYY'), NULL, 3, 30401818104595457369);

85 85 22
67
INSERT INTO "accounts"  VALUES (89, 'Карточный счет с  Лихачев Савва Адрианович', 96000, 89, to_date('12.02.2026','DD.MM.YYYY'), NULL, 3, 31402760028037160097);

86 86 22
A INSERT INTO "accounts"  VALUES (90, 'Депозитный счет с Ростислав Денисович Панов', 93000, 90, to_date('07.03.2022','DD.MM.YYYY'), NULL, 2, 51603826287419532172);

68
INSERT INTO "accounts"  VALUES (90, 'Депозитный счет с Ростислав Денисович Панов', 93000, 90, to_date('07.03.2022','DD.MM.YYYY'), NULL, 2, 51603826287419532172);

87 87 23
68
INSERT INTO "accounts"  VALUES (91, 'Депозитный счет с Лазарева Олимпиада Аркадьевна', 64000, 91, to_date('08.03.2023','DD.MM.YYYY'), NULL, 2, 52604961330846380468);

88 88 23
69
INSERT INTO "accounts"  VALUES (92, 'Кредитный счет с Кира Эльдаровна Дроздова', -31000, 92, to_date('17.05.2018','DD.MM.YYYY'), NULL, 1, 32803376790359122357);

89 89 23
A INSERT INTO "accounts"  VALUES (93, 'Карточный счет с  Стрелков Марк Давидович', 10000, 93, to_date('08.12.2020','DD.MM.YYYY'), NULL, 3, 20401646543531109676);

70
INSERT INTO "accounts"  VALUES (93, 'Карточный счет с  Стрелков Марк Давидович', 10000, 93, to_date('08.12.2020','DD.MM.YYYY'), NULL, 3, 20401646543531109676);

90 90 24
70
INSERT INTO "accounts"  VALUES (94, 'Кредитный счет с Громов Мартьян Глебович', -4000, 94, to_date('04.06.2021','DD.MM.YYYY'), NULL, 1, 51302807121994420008);

91 91 24
71

In [117]:
##################################################################RIGHT@#################################
table_name = 'accounts'
# для нахождения дублирующего клиента и добавления его

products=pd.read_csv('products_202601191734.csv')
# products_202601191734
# ДАННЫЕ ИЗ СОПРЯЖЕННОЙ ТАБЛИЦЫ
# products=pd.read_csv('products_202601172245.csv')
# Изначальные имена
anime = pd.read_csv('clients_NAME.csv')
# задаем столбцы таблицы
# column_names = ('id', 'date', 'address', 'price')
# задаем количество строк таблицы, которое хотим заполнить

k = len(products['id'])
# k=97

# second_product=
product_type_id=random.choice((1,2,3))
items = {1: 'Кредиcтный',2:'Депозитный' ,3: 'Карточный'}

x = [i for i, ltr in enumerate(products['product_type_id']) if ltr == 3]
second_product=random.sample(range(4,137), random.randint(50,90))

n=3

bingo_21_kard=random.sample(x, random.randint(2,5))
# print(bingo_21_kard)
# генерация и запись DML-скрипта в файл
filename = f'{table_name}.sql' # формируем название выходного файла
with open(filename, 'w', encoding='utf-8') as f: #открытие файла для записи

    for i in range(k): 
        
        
       

     #сначала записываются все продукты в счета,  тоесть меняются у кажного продукта свой счет


        n=n+1
        #используем столбец айди клиента из продукта 
        CLIENT_REF=products['client_ref'][i]
        OPEN_D=products['open_data'][i]
        rd=datetime.datetime.strptime(OPEN_D, "%Y-%m-%d").date()
        OPEN_DATA=f"to_date('{rd.strftime('%d.%m.%Y')}','DD.MM.YYYY')"


        CLOSE_DATE='NULL'

        PRODUCT_REF=products['product_type_id'][i]

        generate_saldo=random.randrange(1000,100000,1000)
        if PRODUCT_REF==1:

          SALDO=-generate_saldo
        else:
           SALDO=generate_saldo
        
        NAME_A=f"'{products['name'][i].replace('договор', 'счет')}'"
        # NAME=f"'{items[PRODUCT_REF]} {anime['name'][i]}'"
        # print(NAME)

        ACC_NUM=fake.checking_account()
        #   
        values = [n,NAME_A,SALDO,CLIENT_REF, OPEN_DATA,CLOSE_DATE,PRODUCT_REF,ACC_NUM]
        # 
        # формируем строку со значениями
        # 
        values_str = ', '.join(str(value) for value in values)
        # формируем и записываем DML-запрос в файл
        insert_query = f'INSERT INTO "{table_name}"  VALUES ({values_str});\n'
        # print(i,i+1)
        f.write(insert_query) #запись в файл


        # тут по факту просто дублирется запись и меняются значения столбцов как нам захочется , тут мы меняем чуть дату , тип продутка тоесть тип счета 
        if i in second_product:
            # print('yes')
            rd2=rd+datetime.timedelta(days=random.randint(1,456))
            # date3=f"to_date('{date_plus_days.strftime('%d.%m.%Y')}','DD.MM.YYYY')"
            date2=f"to_date('{rd2.strftime('%d.%m.%Y')}','DD.MM.YYYY')"

            n=n+1

            # PRODUCT_REF=products['product_type_id'][i]
            product_type_id_for_second_account=random.choice((1,2,3))
            PRODUCT_TYPE_ID1=PRODUCT_REF
            # NAME=f"'{items[product_type_id1]} {anime['name'][i]}'"
            text=products['name'][i].replace('договор', 'счет')
            NAME_B=f"'{text.replace(products['name'][i].replace('договор', 'счет').partition(' ')[0],items[PRODUCT_REF])}'"
            # NAME_A=f"'{products['name'][i].replace('договор', 'счет')}'"

            # новое сальдо для доп счетов
            generate_saldo=random.randrange(1000,100000,1000)
            if PRODUCT_TYPE_ID1==1:

              SALDO1=random.choice([-generate_saldo,0])
            else:
              SALDO1=generate_saldo

            # values_1=[n,PRODUCT_TYPE_ID1,NAME,i+4,date2,NULL]
            values2 = [n,NAME_B,SALDO1,CLIENT_REF, date2,CLOSE_DATE,PRODUCT_REF,ACC_NUM]
            # print(values_1)
            
            values_str_2 = ', '.join(str(values) for values in values2)
            insert_query_2=f'INSERT INTO "{table_name}"  VALUES ({values_str_2});\n'
            # print(insert_query_1)
            f.write(insert_query_2)

        # if i in bingo_21_kard:
        #   for b in range(random.randint(23,28)):
        #     n=n+1
            
        #     date_plus_days=rd+datetime.timedelta(days=random.randint(1,456))

        #     date3=f"to_date('{date_plus_days.strftime('%d.%m.%Y')}','DD.MM.YYYY')"

        #     # NAME=f"'{items[3]} {anime['name'][i]}'"
        #     NAME_A=f"'{products['name'][i].replace('договор', 'счет')}'"
        #     SALDO_bingo=generate_saldo=random.randrange(1000,100000,1000)
        #     SALDO_bingo=SALDO_bingo+1000
        #     values1 = [n,NAME_A,SALDO_bingo,CLIENT_REF, date3,CLOSE_DATE,PRODUCT_REF,ACC_NUM]
        #     values_str1 = ', '.join(str(value) for value in values1)

        #     insert_query1 = f'INSERT INTO "{table_name}"  VALUES ({values_str1});\n'
        #     f.write(insert_query1)

        # print(products['client_ref'][i])
        # print(insert_query) #вывод на консоль - для проверки и отладки
        # f.write(insert_query) #запись в файл




    f.close() #закрытие файла

In [92]:
products['name'][1].replace("договор", "счет")

'Карточный счет с  Валерий Викторович Васильев'

In [89]:
items = {1: 'Кредиcтный',2:'Депозитный' ,3: 'Карточный'}
product_type_id1=random.choice((1,2,3))

In [90]:
text=products['name'][1].replace('договор', 'счет')

In [91]:
text.partition(' ')[0]

'Карточный'

In [95]:
items[1]

'Кредиcтный'

In [100]:
products['name'][1].replace('договор', 'счет').replace(text.partition(' ')[0],items[2])

'Депозитный счет с  Валерий Викторович Васильев'

In [55]:
random.sample(x, random.randint(2,5))

[8, 15, 5, 78]

In [49]:
enumerate(products['product_type_id'], start=0)

In [51]:
x = [i for i, ltr in enumerate(products['product_type_id']) if ltr == 3]

In [52]:
x

[1,
 5,
 6,
 8,
 10,
 11,
 12,
 14,
 15,
 18,
 19,
 21,
 25,
 26,
 27,
 29,
 30,
 31,
 33,
 39,
 42,
 43,
 49,
 53,
 55,
 56,
 61,
 65,
 67,
 72,
 74,
 76,
 78,
 79,
 81,
 84,
 85,
 89,
 92,
 95,
 96,
 99,
 103,
 106,
 107,
 110,
 118,
 119,
 121,
 122,
 124,
 125,
 126,
 131,
 133]

In [170]:
fake.checking_account()

'42002959918368985939'

In [212]:
random.randint(1000,100000)

62521

In [ ]:
date_string = '2019-06-19'
date_obj = datetime.strptime(date_string, '%Y-%m-%d').date()

In [261]:
rd=datetime.datetime.strptime(OPEN_D, "%Y-%m-%d").date()

In [262]:
rd

datetime.date(2019, 6, 19)

In [263]:
OPEN_DATA=f"to_date('{rd.strftime('%d.%m.%Y')}','DD.MM.YYYY')"

In [256]:
start_date1 = datetime.date(2015, 1, 1)
end_date1 = datetime.date(2026, 1, 12)
random_date1 = start_date1 + datetime.timedelta(days=random.randint(0, (end_date1 - start_date1).days))
random_date1

datetime.date(2024, 7, 12)

In [2]:
accounts=pd.read_csv('accounts_202601192114.csv')

In [3]:
accounts

,id,name,saldo,client_ref,open_date,close_date,product_ref,acc_num
0,1,Кредитный счет для Сидорова И.П.,-2000.0,1,2015-06-01,NaN,1,45502810401020000022
1,2,Депозитный счет для Сидорова И.П.,6000.0,2,2017-08-01,NaN,2,42301810400000000001
2,3,Карточный счет для Сидорова И.П.,8000.0,3,2017-08-01,NaN,3,40817810700000000001
3,4,Карточный счет с Фаина Валентиновна Максимова,39000.0,4,2019-08-26,NaN,3,41801973245953091103
4,5,Карточный счет с Валерий Викторович Васильев,52000.0,5,2016-09-27,NaN,3,40801964868585844773
...,...,...,...,...,...,...,...,...
308,309,Карточный счет с Якушев Тимофей Арсеньевич,88000.0,100,2018-09-04,NaN,3,32501132196764600359
309,310,Карточный счет с Якушев Тимофей Арсеньевич,37000.0,100,2018-07-28,NaN,3,40401973232065165259
310,311,Карточный счет с Якушев Тимофей Арсеньевич,71000.0,100,2019-03-08,NaN,3,52301937500920577846
311,312,Карточный счет с Якушев Тимофей Арсеньевич,70000.0,100,2019-04-19,NaN,3,51701408874784348223
312,313,Карточный счет с Якушев Тимофей Арсеньевич,53000.0,100,2019-07-02,NaN,3,32302931079631099448

In [4]:
accounts['saldo'][3:]

3      39000.0
4      52000.0
5     -22000.0
6     -34000.0
7      48000.0
        ...
308    88000.0
309    37000.0
310    71000.0
311    70000.0
312    53000.0
Name: saldo, Length: 310, dtype: float64

In [34]:
table_name = 'records'
# для нахождения дублирующего клиента и добавления его

products=pd.read_csv('products_202601191734.csv')
# products_202601191734
# ДАННЫЕ ИЗ СОПРЯЖЕННОЙ ТАБЛИЦЫ
# products=pd.read_csv('products_202601172245.csv')
# Изначальные имена
def generate_random_sum(target_sum, count_of_numbers):
    numbers = []
    remaining = target_sum
    
    for i in range(count_of_numbers - 1):
        # Генерируем случайное число, но не превышающее остаток
        max_possible = remaining - (count_of_numbers - i - 1)  # оставляем минимум для остальных
        rand_num = random.randint(1, max_possible)
        numbers.append(rand_num)
        remaining -= rand_num
    
    # Последнее число — остаток (чтобы точно достичь суммы)
    numbers.append(remaining)



    return numbers


def is_positive(num):
    return num > 0
# anime = pd.read_csv('clients_NAME.csv')
# задаем столбцы таблицы
# column_names = ('id', 'date', 'address', 'price')
# задаем количество строк таблицы, которое хотим заполнить

k = len(accounts['id'][3:])
# k=97

# second_product=
# product_type_id=random.choice((1,2,3))
# items = {1: 'Кредиcтный',2:'Депозитный' ,3: 'Карточный'}

# x = [i for i, ltr in enumerate(products['product_type_id']) if ltr == 3]
# second_product=random.sample(range(4,137), random.randint(50,90))

n=15

# bingo_21_kard=random.sample(x, random.randint(2,5))
# print(bingo_21_kard)
# генерация и запись DML-скрипта в файл
filename = f'{table_name}.sql' # формируем название выходного файла
with open(filename, 'w', encoding='utf-8') as f: #открытие файла для записи

    for i in range(k):
        n=n+1
        prod_type=accounts['product_ref'][i+3]


        # generate_saldo=random.randrange(1000,100000,1000)
        # if prod_type==1:

        #   SALDO_H=-generate_saldo
        # else:
        #    SALDO_H=generate_saldo



        if prod_type==1:
            DT=1
        else:
            DT=0

        first_sum=100000

        ACC_REF=i+4

        OPEN_D=accounts['open_date'][i+3]
        
        rd=datetime.datetime.strptime(OPEN_D, "%Y-%m-%d").date()
        # date_plus_days=rd+datetime.timedelta(days=random.randint(1,456))
        OPER_DATA=f"to_date('{rd.strftime('%d.%m.%Y')}','DD.MM.YYYY')"

        values = [n,DT,first_sum,ACC_REF,OPER_DATA]

         
        values_str = ', '.join(str(value) for value in values)
        # формируем и записываем DML-запрос в файл
        insert_query = f'INSERT INTO "{table_name}"  VALUES ({values_str});\n'

        f.write(insert_query) #запись в файл
        
        SALDO=accounts['saldo'][i+3]  

        rand_oper=random.randint(3,5)
        if is_positive(SALDO)==True:
                
            DT=1
                # first_sum=100000
            GAP=first_sum-SALDO
            gf_minus=generate_random_sum(GAP, rand_oper)

        if is_positive(SALDO)==False:
            DT=0
                # first_sum=-100000
            GAP=first_sum+SALDO
            gf_plus=generate_random_sum(GAP, rand_oper)
       
      # OPEN_D=accounts['open_data'][i]
     #сначала записываются все продукты в счета,  тоесть меняются у кажного продукта свой счет
        for operations_one_acc in range(rand_oper):


           

            n=n+1

            

            DT=[0,1]
        #используем столбец айди клиента из продукта 
        # CLIENT_REF=products['client_ref'][i]
            OPEN_D=accounts['open_date'][i+3]
        
            rd=datetime.datetime.strptime(OPEN_D, "%Y-%m-%d").date()
            date_plus_days=rd+datetime.timedelta(days=random.randint(1,456))
            OPER_DATA1=f"to_date('{date_plus_days.strftime('%d.%m.%Y')}','DD.MM.YYYY')"

        
        
        
        # PRODUCT_REF=products['product_type_id'][i]


        
        # NAME_A=f"'{products['name'][i].replace('договор', 'счет')}'"
        # NAME=f"'{items[PRODUCT_REF]} {anime['name'][i]}'"

            if is_positive(SALDO)==True:
                
                DT=1
              
            
                values = [n,DT,gf_minus[operations_one_acc],ACC_REF,OPER_DATA1]

            if is_positive(SALDO)==False:
                DT=0
            
        #   
                values = [n,DT,gf_plus[operations_one_acc],ACC_REF,OPER_DATA1]
        # 
        # формируем строку со значениями
        # 
            values_str = ', '.join(str(value) for value in values)
        # формируем и записываем DML-запрос в файл
            insert_query = f'INSERT INTO "{table_name}"  VALUES ({values_str});\n'
        # print(i,i+1)
            f.write(insert_query) #запись в файл







    f.close() #закрытие файла

In [29]:
range(rand_oper)

range(0, 3)

In [30]:
rand_oper

3

In [173]:
if is_positive(SALDO)==True:
    print('FileNotFoundError')

FileNotFoundError

In [128]:
def generate_random_sum(target_sum, count_of_numbers):
    numbers = []
    remaining = target_sum
    
    for i in range(count_of_numbers - 1):
        # Генерируем случайное число, но не превышающее остаток
        max_possible = remaining - (count_of_numbers - i - 1)  # оставляем минимум для остальных
        rand_num = random.randint(1, max_possible)
        numbers.append(rand_num)
        remaining -= rand_num
    
    # Последнее число — остаток (чтобы точно достичь суммы)
    numbers.append(remaining)
    
    return numbers

In [16]:
first_sum=100000
GAP=first_sum+SALDO

        # gf=generate_random_sum(GAP, 4)

In [15]:
GAP

np.float64(122000.0)

In [162]:
[100000-SALDO][0]

3       61000.0
4       48000.0
5      122000.0
6      134000.0
7       52000.0
         ...
308     12000.0
309     63000.0
310     29000.0
311     30000.0
312     47000.0
Name: saldo, Length: 310, dtype: float64

In [156]:
GAP

3       61000.0
4       48000.0
5      122000.0
6      134000.0
7       52000.0
         ...
308     12000.0
309     63000.0
310     29000.0
311     30000.0
312     47000.0
Name: saldo, Length: 310, dtype: float64

In [33]:
generate_random_sum(38000, 4)[0]

31051

In [140]:
def random_steps_down(start, target, steps):
    total_drop = start - target  # 62000
    # Генерируем steps−1 случайных уменьшений
    drops = [random.uniform(0, total_drop / steps * 2) for _ in range(steps - 1)]
    # Последнее уменьшение — остаток, чтобы точно дойти до target
    drops.append(total_drop - sum(drops))
    # Строим траекторию
    values = [start]
    for drop in drops:
        values.append(values[-1] - drop)
    return values, drops

# Пример: 100 шагов от 100000 до 38000
path, step_drops = random_steps_down(100000, 38000, 100)

In [138]:
round(91437.78909767629)

91438

In [135]:
random_steps_down(100000,35000,5)

([100000,
  91437.78909767629,
  65826.12547338282,
  50028.26168772386,
  27262.805619376562,
  34999.999999999985],
 [8562.210902323706,
  25611.66362429346,
  15797.863785658963,
  22765.4560683473,
  -7737.194380623419])